.submitbox{
    margin-top: 10%;
    border-top: 6px solid #7ac55d;
    background-color:#fff;
    /* padding: 20px; */
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 10px 10px -2px rgba(0,0,0,0.12),0 -2px 10px -2px rgba(0,0,0,0.12);    
}
.boxtitle{    
    font-size: 28px;  
    color: #7ac55d;
    font-weight: 500;
    letter-spacing: 1px;
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{text-align: center;
}
.profile-head h5{
    /* font-size: 26px; */
    color: #7ac55d;
    font-weight: 600;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    background-color: #d8d3d3;
    border-radius: 0.5rem;
    /* width: 70%; */
    margin-left: 10px;
    padding: 1%;
    font-size: 14px;
    font-weight: 600;
    color: rgb(88, 88, 88);
    outline: 0;
    cursor: pointer;
}
.profile-edit-btn:hover{
    color: rgb(88, 88, 88);
    text-decoration: none;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
    vertical-align: middle;
}
.proile-rating div span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    color: #495057;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    /* background-color: #7ac55d; */
    border: none;
    color: #7ac55d;
    border-bottom:2px solid #7ac55d;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
.margin-top {
    margin-top: 1%;
}
.margin-left {
    margin-left: 1%;
}
.margin-right {
    margin-right: 1%;
}
.icon {
    background-size: 25px 25px;
    width: 25px !important;
    height: 25px !important;
}
.icon_txt {
    font-size: 14px;
    font-weight: 600;
    color: #495057;
    margin-left: 10px;
}
.table {
    display: block;
}
.card {
    position: relative;
    text-align: center;
    border: 0px;   
}
/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}
/* Top right text */
.top-right {
    position: absolute;
    top: 20px;
    right: 50px;
    font-weight: 500;
    color: #fff;
}
/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 60px;
    right: 50px;
    color: #fff;
}
a, a:hover {
    color: #fff;
}
/* Centered text */
.centered-left {
    position: absolute;
    top: 25%;
    right: 50px;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}   