
body {
    /*height:100%;*/background-color: #f1f3f5;/*0703*/
}


div,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
input,
textarea,
button,
select {
    margin:0;
    padding:0;
    border:0;
    display: block;
    box-sizing:border-box;
}

a {
    text-decoration:none;
    color:#000;
}

button {
    border:1 none;
    display: block;
    background-color:transparent;
    cursor:pointer;
    -webkit-tap-highlight-color:rgba(255, 255, 255, 0);
}

input,
select,
textarea,
button {
    vertical-align:middle;
}
input,
textarea {
    /*-webkit-appearance:none;*/
    border-radius:3px;
}
input{
     /*box-shadow: 0 2px 5px rgba(222, 222, 222, 1);*/ border: 1px solid #d8dde2;
}

/*checkbox*/
.checkbox{
    padding: 8px 0 12px;
}
input[type=checkbox] {
    display: none;
}
input[type=checkbox] + label{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 20px;
    padding-bottom: 0;
    color: #777b7f;
}
input[type=checkbox]+ label:before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 6px;
    position: absolute;
    left: 0;
    bottom: 2px;
    background-color: #ccc;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
input[type=checkbox]:checked + label:before {
    content: "\2713";  /* 체크모양 */
    /*text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  */
    font-size: 13px;
    color: #fff;
    background:#00c73c;
    text-align: center;
    line-height: 12px;
}
select {
    width: 100%;
    padding: .8em .5em;
    background-size: 14px 7px;
    border:1px solid #d8dde2;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: 14px 7px;
}

select::-ms-expand { display: none; }
input::-webkit-input-placeholder { color:#ddd; }
input::-moz-placeholder { color:#ddd; }
input::-ms-input-placeholder { color:#ddd; }

a {color:#343a40;text-decoration:none;}
a:active, a:hover {text-decoration:none}

/*common*/
.pb10{padding-bottom: 10px !important;}

/*text*/
.txt_gray{color: #868e96 !important;}
.txt_red{color: #d84461 !important;}
.txt_green{color: #00c73c !important;}
.txt_blue{color: #565de2 !important;}
.txt_s14b{font-size: 14px; font-weight: bold;}

.con_tit {
    position: relative;
    padding: 27px 10px 15px;
    font-weight: 700;
    font-size: 1.05em;
    border: 1px solid transparent;
    text-align: center;
}

.con_tit_pn{
    padding-bottom: 0 !important;
}

.con_tit h3 {
    display: inline;
    height: 16px;
    font-weight: 500;
    font-size: 18px;
    font-weight: bold;
    color: #343a40;
    margin: 20px 0 10px;
}

.con_tit h3:after {
    content: "";
    display: block;
    width: 50px;
    border-bottom: 2px solid #00c73c;
    margin: 5px auto 0;
}

.con_tit_pn p{
    margin-bottom: 0 !important;
}

.con_tit p {
    color: #495057;
    margin: 10px 0 22px;
    font-weight: normal;
    line-height: 20px;
}

.con_tit p>a{
    font-size: 12px;
}

/*로그인*/
.sm_wrap{
    position: relative;
    background-color: #Fff;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    padding: 10px 7px;
}
.sm_wrap>ul{
    display: block;
    padding-bottom: 5px;
    font-size: 0;
}
.sm_wrap>ul:after{
    display: block;
    content: "";
    clear: both;
}

.sm_wrap>ul>li{
    display: block;
    padding-bottom: 8px;
    /*font-weight: bold;*/
}

.sm_wrap>ul>li input[type="text"],
.sm_wrap>ul>li input[type="password"],
.sm_wrap>ul>li input[type="email"]{
    height: 38px;
    border: 1px solid #d8dde2;
    width: 100%;
    border-radius: 3px;
    padding-left: 5px;
    color: #868e96;
}

.sm_wrap>ul>li textarea{
    border: 1px solid #d8dde2;
    width: 100%;
    padding: 0;
    color: #868e96;
    padding-left: 5px;
}
.sm_wrap>ul>li>.checkbox{
    padding:  0px;
}
.sm_wrap>ul>li>.checkbox>label{
    color: #868e96;
    font-weight: normal;
    font-size: 12px;
}
.sm_wrap>ul>li>.checkbox>strong>a{
    color: #333;
    font-weight: normal;
    font-size: 12px;
    padding-left: 5px;
    display: inline-block;
}
.sm_wrap>ul>li>.checkbox>span>a{
    display: inline-block; padding-left: 5px;
}
.sm_wrap>ul>li.birthday{
    width: 30%;
    display: inline-block;
}
.sm_wrap>ul.birthday>li:nth-child(3){
    margin: 0 3.3%;
}
.sm_wrap>ul.gender>li:nth-child(2){
    width: 49.2%;
    text-align: left;
    display: inline-block;
}
.sm_wrap>ul.gender>li:nth-child(3){
    float: right;
    width: 49.2%;
    text-align: right;
    display: inline-block;
}

.pass_src{
    text-align: center;
    padding: 6px 0 15px;
    margin: 0 auto;
}

.align-center {
    text-align: center;
}

.one_green,
.one_green:active,
.one_green:hover {
    display: block;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    background-color: #00c73c;
    padding: 10px 30px;
    font-size: 15px;
}

.one_gray,
.one_gray:active,
.one_gray:hover {
    display: block;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    background-color: #b7babc;
    padding: 10px 30px;
    font-size: 15px;
}


.one_btn{ text-align: center; }

.one_btn>.one_gray,
.one_btn>.one_green{
    display: block;
}
.one_btn>.one_green>button{display: block; width: 100%; color: #fff; border-radius: 3px; text-align: center; background-color: #00c73c; padding: 10px 50px; font-size: 15px;}

.one_btn>.one_green>a,
.one_btn>.etc_red>a{
    color: #fff; display: block; border-radius: 3px; text-align: center; background-color: #00c73c; padding: 10px 50px; font-size: 15px;
}

.one_btn>.one_gray>button{display: block; width: 100%; color: #fff; border-radius: 3px; text-align: center; background-color: #b7babc; padding: 10px 50px; font-size: 15px;}
.one_btn>.gray>a,
.one_btn>.one_gray>a{
    color: #fff; display: block; border-radius: 3px; text-align: center; background-color: #b7babc; padding: 10px 50px; font-size: 15px;
}

@media all and (min-width:769px){
    form * {font-size: 16px;}

    .con_tit{ padding-top: 40px; }
    .con_tit h3:after{ width: 50px; border-bottom: 3px solid #00c73c; margin: 8px auto 0; }
    .con_tit p>a{ font-size: 16px; }

    /*login*/
    .sm_wrap{
    width: 500px;
    margin: 0 auto;
    }
    .sm_wrap>ul>li input[type="text"],
    .sm_wrap>ul>li input[type="password"]{
        height: 50px;
    }

    .sm_wrap>ul>li>.checkbox{
        margin-top: -8px;
    }

    .sm_wrap input[type=checkbox] + label{
        padding-bottom: 3px;
    }

    .pass_src{
    text-align: center; padding: 6px 0 15px; width: 390px; margin: 0 auto; font-size: 16px; color: #777b7f;
    }

    input[type=checkbox]+ label:before{
        bottom: 5px;
    }
