.bg-block {
    display: block;
}

.text-area {
    height: 150px;
    resize: none;
}

input[type="text"]:disabled {
    background-color: #fff;
}

.align-center {
    text-align: center;
}

.one_green {
    color: #fff;
    border-radius: 3px;
    text-align: center;
    background-color: #00c73c;
    padding: 10px 30px;
    font-size: 15px;
}

.one_gray {
    color: #fff;
    border-radius: 3px;
    text-align: center;
    background-color: #b7babc;
    padding: 10px 30px;
    font-size: 15px;
}

a {
    color:#fff;
    text-decoration: none;
}

a:active, a:hover {
    color:#fff;
    text-decoration:none
}