{% extends 'index_base.html' %}
{% load staticfiles %}

{% block head %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src='{% static "lib/jquery/jquery.min.js" %}'></script>
<script>
$(document).ready(function () {
    $('.ckbox label').on('click', function () {
      $(this).parents('tr').toggleClass('selected');
    });
    $('.btn-filter').on('click', function () {
        var $target = $(this).data('target');
        console.log("onclick", $target);
        $('input[name=filter]').val($target);
        <!--$('form').submit();-->
      if ($target != 'all') {
        $('.table tr').css('display', 'none');
        $('.table tr[data-status="' + $target + '"]').fadeIn('slow');
      } else {
        $('.table tr').css('display', 'none').fadeIn('slow');
      }
    });
 });
</script>
{% endblock head %}

{% block content %}

<!--<form action="">-->
    <!--<input type="hidden" name="filter" />-->
<!--</form>-->
<!------ Include the above in your HEAD tag ---------->

<br><br><br><br>
<style>
	/*    --------------------------------------------------
	:: General
	-------------------------------------------------- */
	body {
	font-family: 'Open Sans', sans-serif;
	color: #353535;
	}
	.content h1 {
	text-align: center;
	color: #71c55d;
	}
	.content .content-footer p {
	color: #6d6d6d;
	font-size: 12px;
	text-align: center;
	}
	.content .content-footer p a {
	color: inherit;
	font-weight: bold;
	}
	/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
	.panel {
	border: none;
	background-color: #fff;
	}
	.panel .btn-group {
	margin: 15px 0 30px;
	}
	.panel .btn-group .btn {
	transition: background-color .3s ease;
	}
	.table-filter {
	background-color: #fff;
	border-bottom: 1px solid #eee;
	}
	.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
	}
	.table-filter tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
	}
	.table-filter tbody tr.selected td {
	background-color: #eee;
	}
	.table-filter tr td:first-child {
	width: 38px;
	}
	.table-filter tr td:nth-child(2) {
	width: 35px;
	}
	.ckbox {
	position: relative;
	}
	.ckbox input[type="checkbox"] {
	opacity: 0;
	}
	.ckbox label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}
	.ckbox label:before {
	content: '';
	top: 1px;
	left: 0;
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	border-radius: 2px;
	border: 1px solid #bbb;
	background-color: #fff;
	}
	.ckbox input[type="checkbox"]:checked + label:before {
	border-color: #2BBCDE;
	background-color: #2BBCDE;
	}
	.ckbox input[type="checkbox"]:checked + label:after {
	top: 3px;
	left: 3.5px;
	content: '\e013';
	color: #fff;
	font-size: 11px;
	font-family: 'Glyphicons Halflings';
	position: absolute;
	}
	.table-filter .star {
	color: #ccc;
	text-align: center;
	display: block;
	}
	.table-filter .star.star-checked {
	color: #F0AD4E;
	}
	.table-filter .star:hover {
	color: #ccc;
	}
	.table-filter .star.star-checked:hover {
	color: #F0AD4E;
	}
	.table-filter .media-photo {
	width: 35px;
	}
	.table-filter .media-body {
	display: block;
	/* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
	}/*    --------------------------------------------------
	:: General
	-------------------------------------------------- */
	body {
	font-family: 'Open Sans', sans-serif;
	color: #353535;
	}
	.content h1 {
	text-align: center;
	}
	.content .content-footer p {
	color: #6d6d6d;
	font-size: 12px;
	text-align: center;
	}
	.content .content-footer p a {
	color: inherit;
	font-weight: bold;
	}
	/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
	.panel {
	border: 1px solid #ddd;
	background-color: #fcfcfc;
	}
	.panel .btn-group {
	margin: 15px 0 30px;
	}
	.panel .btn-group .btn {
	transition: background-color .3s ease;
	}
	.table-filter {
	background-color: #fff;
	border-bottom: 1px solid #eee;
	}
	.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
	}
	.table-filter tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
	}
	.table-filter tbody tr.selected td {
	background-color: #eee;
	}
	.table-filter tr td:first-child {
	width: 38px;
	}
	.table-filter tr td:nth-child(2) {
	width: 35px;
	}
	.ckbox {
	position: relative;
	}
	.ckbox input[type="checkbox"] {
	opacity: 0;
	}
	.ckbox label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}
	.ckbox label:before {
	content: '';
	top: 1px;
	left: 0;
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	border-radius: 2px;
	border: 1px solid #bbb;
	background-color: #fff;
	}
	.ckbox input[type="checkbox"]:checked + label:before {
	border-color: #2BBCDE;
	background-color: #2BBCDE;
	}
	.ckbox input[type="checkbox"]:checked + label:after {
	top: 3px;
	left: 3.5px;
	content: '\e013';
	color: #fff;
	font-size: 11px;
	font-family: 'Glyphicons Halflings';
	position: absolute;
	}
	.table-filter .star {
	color: #ccc;
	text-align: center;
	display: block;
	}
	.table-filter .star.star-checked {
	color: #F0AD4E;
	}
	.table-filter .star:hover {
	color: #ccc;
	}
	.table-filter .star.star-checked:hover {
	color: #F0AD4E;
	}
	.table-filter .media-photo {
	width: 35px;
	}/*    --------------------------------------------------
	:: General
	-------------------------------------------------- */
	body {
	font-family: 'Open Sans', sans-serif;
	color: #353535;
	}
	.content h1 {
	text-align: center;
	}
	.content .content-footer p {
	color: #6d6d6d;
	font-size: 12px;
	text-align: center;
	}
	.content .content-footer p a {
	color: inherit;
	font-weight: bold;
	}
	/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
	.panel {
	border: none;
	background-color: #fff;
	}
	.panel .btn-group {
	margin: 15px 0 30px;
	}
	.panel .btn-group .btn {
	transition: background-color .3s ease;
	}
	.table-filter {
	background-color: #fff;
	border-bottom: 1px solid #eee;
	}
	.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
	}
	.table-filter tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
	}
	.table-filter tbody tr.selected td {
	background-color: #eee;
	}
	.table-filter tr td:first-child {
	width: 38px;
	}
	.table-filter tr td:nth-child(2) {
	width: 35px;
	}
	.ckbox {
	position: relative;
	}
	.ckbox input[type="checkbox"] {
	opacity: 0;
	}
	.ckbox label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}
	.ckbox label:before {
	content: '';
	top: 1px;
	left: 0;
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	border-radius: 2px;
	border: 1px solid #bbb;
	background-color: #fff;
	}
	.ckbox input[type="checkbox"]:checked + label:before {
	border-color: #2BBCDE;
	background-color: #2BBCDE;
	}
	.ckbox input[type="checkbox"]:checked + label:after {
	top: 3px;
	left: 3.5px;
	content: '\e013';
	color: #fff;
	font-size: 11px;
	font-family: 'Glyphicons Halflings';
	position: absolute;
	}
	.table-filter .star {
	color: #ccc;
	text-align: center;
	display: block;
	}
	.table-filter .star.star-checked {
	color: #F0AD4E;
	}
	.table-filter .star:hover {
	color: #ccc;
	}
	.table-filter .star.star-checked:hover {
	color: #F0AD4E;
	}
	.table-filter .media-photo {
	width: 35px;
	}
	.table-filter .media-body {
	display: block;
	/* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
	}
	.table-filter .media-meta {
	font-size: 11px;
	color: #999;
	}
	.table-filter .media .title {
	color: #71c55d;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
	}
	.table-filter .media .title span {
	font-size: .8em;
	margin-right: 20px;
	}
	.table-filter .media .title span.pagado {
	color: #5cb85c;
	}
	.table-filter .media .title span.pendiente {
	color: #f0ad4e;
	}
	.table-filter .media .title span.cancelado {
	color: #d9534f;
	}
	.table-filter .media .summary {
	font-size: 14px;
	}
	.table-filter .media-body {
	display: block;
	/* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
	}
	.table-filter .media-meta {
	font-size: 11px;
	color: #999;
	}
	.table-filter .media .title {
	color: #2BBCDE;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
	}
	.table-filter .media .title span {
	font-size: .8em;
	margin-right: 20px;
	}
	.table-filter .media .title span.pagado {
	color: #5cb85c;
	}
	.table-filter .media .title span.pendiente {
	color: #f0ad4e;
	}
	.table-filter .media .title span.cancelado {
	color: #d9534f;
	}
	.table-filter .media .summary {
	font-size: 14px;
	}
	.table-filter .media-meta {
	font-size: 11px;
	color: #999;
	}
	.table-filter .media .title {
	color: #2BBCDE;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
	}
	.table-filter .media .title span {
	font-size: .8em;
	margin-right: 20px;
	}
	.table-filter .media .title span.pagado {
	color: #5cb85c;
	}
	.table-filter .media .title span.pendiente {
	color: #f0ad4e;
	}
	.table-filter .media .title span.cancelado {
	color: #d9534f;
	}
	.table-filter .media .summary {
	font-size: 14px;
	}
	.btn-primary.custom-btn.btn-filter {
	background-color: #17a2b8;
	border-color: #17a2b8;
	}
</style>

<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-3">
                <div class="panel panel-default">
                    <h1 align="center">거래 내역</h1>
					<br>
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger btn-filter" data-target="cancelado">발행</button>
                                    <button type="button" class="btn btn-success btn-filter" data-target="pagado">송금</button>
                                    <button type="button" class="btn btn-warning btn-filter" data-target="pendiente">결제</button>
                                    <button type="button" class="btn btn-primary custom-btn btn-filter" data-target="all">종합</button>
                                </div>
                            </div>
                            <div class="table-container">
                                <table class="table table-filter">
                                    <tbody>

                                    {% for withdraw in withdraws %}
                                        <tr data-status="{{ withdraw.type}}">
                                            <td>
                                                <div class="ckbox">
                                                    {{ withdraw.no}}
                                                </div>
                                            </td>
                                            <td>
                                                <a href="javascript:;" class="star">
                                                    <i class="glyphicon glyphicon-star"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <div class="media">
                                                    <div class="media-body">
                                                        <span class="media-meta pull-right">{{withdraw.date}}</span>
                                                        <h4 class="title">
                                                            {{ withdraw.name}}
                                                            <span class="pull-right {{ withdraw.type}}">{{withdraw.typekor}}</span>
                                                        </h4>
                                                        <p class="summary">{{ withdraw.name}}님에게 {{withdraw.price}} RC {{withdraw.typekor}}</p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>                            
                                </table>
								 {% if withdraws.has_other_pages %}
                                <ul class="pagination pagination-lg pager">
                                    {% if withdraws.has_previous %}
                                      <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
                                    {% else %}
                                      <li class="disabled"><span>&laquo;</span></li>
                                    {% endif %}
                                    {% for i in withdraws.paginator.page_range %}
                                      {% if withdraws.number == i %}
                                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                      {% else %}
                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                      {% endif %}
                                    {% endfor %}
                                    {% if withdraws.has_next %}
                                      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
                                    {% else %}
                                      <li class="disabled"><span>&raquo;</span></li>
                                    {% endif %}
                                    </ul>
							
                                {% endif %}
                            </div>
                        </div>
               	 	</div>
            	</div>
	<ul class="pagination pagination-lg pager" id="myPager"></ul>

        </div>
    </div>
</section>

<!--페이지네이션 시험-->
{% comment %} <section class="content">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>No</th>
            <th>name</th>
            <th>Item</th>
            <th>type</th>
        </tr>
        </thead>
        <tbody>
        {% for withdraw in withdraws %}
        <tr>
            <td>{{ withdraw.no}}</td>
            <td>{{ withdraw.name}}</td>
            <td>{{ withdraw.item}}</td>
            <td>{{ withdraw.type}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if withdraws.has_other_pages %}
  <ul class="pagination">
    {% if withdraws.has_previous %}
      <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in withdraws.paginator.page_range %}
      {% if withdraws.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if withdraws.has_next %}
      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</section> {% endcomment %}
<script type="text/javascript">
    var getCookie = function(name) {
      var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
      return value? value[2] : null;
    };
    function search_board_by_word(){
        var board_type = getCookie('current_board')
        var page = $('.active > a').text()
        chg_board(board_type,page)
    }
    document.addEventListener("DOMContentLoaded", function(){
        var board_type = getCookie('current_board')
        if( board_type == null ){
            ctl_cookie(1)
            chg_board(1)
        }else{
            chg_board(board_type,1)
        }
        ctl_btn_by_board_type(board_type)
    });
</script>
{% block extra_js %}<script type="text/javascript" src="{% static '/js/board.js' %}"></script>{% endblock %}
{% endblock content %}