{% extends 'base.html' %}

{% block head %}
{% load staticfiles %}
{% endblock head %}

{% block css %}
{% endblock css %}

{% block body %}


    <!-- Title -->
    <div id="contents" class="page-header">
        <div class="container">
            <div class="row page-title">
                <a>회원가입</a>
            </div>
        </div>
    </div>
    
    <div id="contents">
        <div class="container">
            <div class="row justify-content-center page">
                <div class="col-md card">
                    <div class="card-body">
                        <h5 class="card-subtitle"><a style="color:#00c746;">|</a> 회원가입</h5>
                    </div>
                </div>
            </div>
            
            <div class="row justify-content-center page">
                <div class="col-md card">
                    <div class="card-body">
            
                            <!-- Signup form -->
                        <form action="{% url 'account:signup' %}" method="POST" onsubmit="return chk_validate()">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="username">아이디<sup class="text-danger">(필수)</sup></label>
                                <div style="position:relative">
                                    <input id="username" type="text" class="form-control" name="username" required autofocus style="padding-right: 60px;">
                                    <div class="btn btn-info btn-sm" id="btn-chkid" onclick="chk_username();" style="position: absolute; right: 10px; top: 7px; padding: 2px 7px; font-size: 12px; cursor: pointer;">
                                        중복확인
                                    </div>
                                </div>
                                <div class="info">
                                    * 아이디는 4-20 길이만 가능합니다.<br>
                                    * 알파벳 대/소문자, 숫자만 이용할 수 있습니다.
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-12 form-group">
                                    <label for="password1">비밀번호<sup class="text-danger">(필수)</sup></label>
                                    <div style="position:relative">
                                        <input id="password1" type="password" class="form-control" name="password1" autocomplete="off" required style="padding-right: 60px;" />
                                    </div>
                                    <div class="info">
                                        * 비밀번호는 8자 이상으로 이루어집니다.<br>
                                        * 알파벳 대, 소문자, 숫자, 특수문자(!@#$)를<br>&nbsp;&nbsp;&nbsp;최소 한개이상 포함해야 합니다.<br>
                                        * 아이디와 유사한 비밀번호는 사용할 수 없습니다.
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12 form-group">
                                    <label for="password2">비밀번호 확인<sup class="text-danger">(필수)</sup></label>
                                    <div style="position:relative">
                                        <input id="password2" type="password" class="form-control" name="password2" autocomplete="off" required style="padding-right: 60px;" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-12 form-group">
                                    <label for="email">이메일주소<sup class="text-danger">(필수)</sup></label>
                                    <div style="position:relative">
                                        <input id="email" type="email" class="form-control" name="email" required style="padding-right: 60px;">
                                    </div>
                                    <div class="info">
                                        * 이메일은 아이디/비밀번호 찾기에 이용됩니다.
                                    </div>
                                </div>
                                
                                <div class="col-lg-6 col-md-12 form-group">
                                    <label for="gender">성별<sup class="text-danger">(필수)</sup></label>
                                    <div style="position:relative">
                                        <select id="gender" name="gender" class="form-control">
                                            <option value="1" selected="true">남성</option>
                                            <option value="2">여성</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-md-12 form-group">
                                    <label for="birth_year">생년<sup class="text-danger">(필수)</sup></label>
                                    <div style="position:relative">
                                        <select id="birth_year" name="birth_year" class="form-control">
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-md-12 form-group">
                                    <label for="birth_month">월<sup class="text-danger">(필수)</sup></label>
                                    <div style="position:relative">
                                        <select id="birth_month" name="birth_month" class="form-control">
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-md-12 form-group">
                                    <label for="birth_date">일<sup class="text-danger">(필수)</sup></label>
                                    <div style="position:relative">
                                        <select id="birth_date" name="birth_date" class="form-control">
                                        </select>
                                    </div>
                                </div>
                            </div>
    
                            <hr style="margin-top: 30px;"> 

                            <div class="row2 justify-content-center">
                                <input type="submit" id="btn-submit" class="btn btn-success" value="가입" />&nbsp;
                                <a href="{% url 'index' %}" id="btn-cancel" class="btn btn-secondary">취소</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
        

{% endblock body %}

{% block js %}
<script src="{% static 'js/signup.js' %}"></script>
{% endblock js %}