<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <title>RC 코인</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap css -->
  <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
  <link href='{% static "lib/bootstrap/css/bootstrap.css" %}' rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href='{% static "lib/owlcarousel/assets/owl.carousel.min.css" %}' rel="stylesheet">
  <link href='{% static "lib/owlcarousel/assets/owl.theme.default.min.css" %}' rel="stylesheet">
  <link href='{% static "lib/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet">
  <link href='{% static "lib/animate/animate.min.css" %}' rel="stylesheet">
  <link href='{% static "lib/modal-video/css/modal-video.min.css" %}' rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href='{% static "css/style.css" %}' rel="stylesheet">
  <!-- =======================================================
    Theme Name: eStartup
    Theme URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
  <header id="header" class="header header-hide">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto"><span>RC</span>Coin</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-has-children"><a href="#hero">소개</a>
            <ul>
              <li><a href="#get-started">RC코인이란</a></li>
              <li><a href="#team">팀 소개</a></li>
            </ul>
          </li>
          <li class="menu-has-children"><a href="#about-us">오시는 길</a>
            <ul>
              <li><a href="#">포항에서</a></li>
              <li><a href="#">후포에서</a></li>
              <li><a href="#">묵호에서</a></li>
              <li><a href="#">강릉에서</a></li>
              <li><a href="#">배시간&요금</a></li>
              <li><a href="#">독도로</a></li>
            </ul>
          </li>
          <li class="menu-has-children"><a href="#features">정보마당</a>
          <ul>
              <li><a href="#">공지사항</a></li>
              <li><a href="#">1:1문의</a></li>
          </ul>
          </li>
          <li class="menu-has-children"><a href="#screenshots">커뮤니티</a>
          <ul>
              <li><a href="#">가맹게시판</a></li>
              <li><a href="#">회원게시판</a></li>
          </ul>
          </li>
          <li class="menu-has-children"><a href="#team">가맹점 정보</a>
            <ul>
              <li><a href="#">가맹점 리스트</a></li>
            </ul>
          </li>
          <li class="menu-has-children"><a href="#pricing">회원가입</a>
          <ul>
            <li><a href="#">사용자 가입</a></li>
            <li><a href="#">가맹점 가입</a></li>
            </ul>
          </li>
          <li><a href="">로그인</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  {% block content %}
  <!--==========================
    소개 id hero
  ============================-->
  <section id="hero" class="wow fadeIn">
    <div class="hero-container">
      <br/><br/>
      <h1>저희는 RC 코인입니다</h1>
      <h2><span>새로운 블록체인 지역화폐 플랫폼</span></h2>
      <p></p>
      <img src="{% static 'img/hero-img.png' %}" alt="Hero Imgs">

      <a href="#get-started" class="btn-get-started scrollto">다음</a>

      <div class="btns">
        <a href="#"><i class="fa fa-apple fa-3x"></i> App Store</a>
        <a href="#"><i class="fa fa-play fa-3x"></i> Google Play</a>
        <a href="#"><i class="fa fa-windows fa-3x"></i> windows</a>
      </div>
    </div>
  </section><!-- #hero -->

  <!--==========================
    rc 코인이란 id get-started
  ============================-->
  <section id="get-started" class="wow fadeIn">

    <div class="container">
      <div class="section-title text-center">
        <br/><br/>
        <h2>RC 코인이란?</h2>
        <p class="separator">REGION CURRENCY COIN의 약자입니다.</p>

      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-4">
          <div class="feature-block">

            <img src="{% static 'img/svg/cloud.svg'%}" alt="img" class="img-fluid">
            <h4>신뢰성</h4>
            <p>신뢰가 됩니다.</p>

          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="feature-block">

            <img src="{% static 'img/svg/planet.svg'%}" alt="img" class="img-fluid">
            <h4>탈중앙화</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>


          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="feature-block">

            <img src="{% static 'img/svg/asteroid.svg' %}" alt="img" class="img-fluid">
            <h4>실용성</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            <a href="#">read more</a>

          </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="feature-block">

              <img src="{% static 'img/svg/asteroid.svg' %}" alt="img" class="img-fluid">
              <h4></h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
              <a href="#">read more</a>

            </div>
          </div>
        <div class="col-md-6 col-lg-4">
          <div class="feature-block">

            <img src="{% static 'img/svg/asteroid.svg' %}" alt="img" class="img-fluid">
            <h4>실용성</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            <a href="#">read more</a>

          </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="feature-block">

              <img src="{% static 'img/svg/asteroid.svg' %}" alt="img" class="img-fluid">
              <h4>실용성</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
              <a href="#">read more</a>

            </div>
          </div>

      </div>
    </div>
  </section>

  <section id="team" class="padd-section text-center wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">

        <h2>팀 소개</h2>
        <p class="separator">팀 소개 입니다.</p>

      </div>
    </div>


    <div class="container">
      <div class="row">

        <div class = "owl-carousel owl-theme">
          <div class="col-md-12 col-md-12 col-lg-12">
            <div class="team-block bottom">
              <img src='{% static "mainapp/img/team/1.jpg" %}' class="img-responsive" alt="img">
              <div class="team-content">
                <ul class="list-unstyled">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <span>음식</span>
                <h4>냉면맛집</h4>
              </div>
            </div>
          </div>


       <div class="col-md-6 col-md-4 col-lg-12">
          <div class="team-block bottom">
            <img src='{% static "mainapp/img/team/2.jpg" %}' class="img-responsive" alt="img">
            <div class="team-content">
              <ul class="list-unstyled">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
              <span>숙박</span>
              <h4>졸라 좋아요</h4>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-md-4 col-lg-12">
          <div class="team-block bottom">
            <img src='{% static "mainapp/img/team/3.jpg" %}' class="img-responsive" alt="img">
            <div class="team-content">
              <ul class="list-unstyled">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
              <span>여행</span>
              <h4>여행은 좋아요</h4>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-md-4 col-lg-12">
          <div class="team-block bottom">
            <img src='{% static "mainapp/img/team/4.jpg" %}' class="img-responsive" alt="img">
            <div class="team-content">
              <ul class="list-unstyled">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
              <span>뭐하니</span>
              <h4>뭐하니</h4>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-md-4 col-lg-12">
          <div class="team-block bottom">
            <img src='{% static "mainapp/img/team/2.jpg" %}' class="img-responsive" alt="img">
            <div class="team-content">
              <ul class="list-unstyled">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
              <span>숙박</span>
              <h4>졸라 좋아요</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock content %}

  <!--==========================
    Footer
  ============================-->
  <footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-4">
          <div class="footer-logo">

            <a class="navbar-brand" href="#">eStartup</a>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the.</p>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Abou Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Abou Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Support</h4>

            <ul class="list-unstyled">
              <li><a href="#">faq</a></li>
              <li><a href="#">Editor help</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Abou Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

      </div>
    </div>

    <div class="copyrights">
      <div class="container">
        <p>&copy; Copyrights eStartup. All rights reserved.</p>
        <div class="credits">
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eStartup
          -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>

  </footer>


  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src='{% static "lib/jquery/jquery.min.js" %}'></script>
  <script src='{% static "lib/jquery/jquery-migrate.min.js" %}'></script>
  <script src='{% static "lib/bootstrap/js/bootstrap.bundle.min.js" %}'></script>
  <script src='{% static "lib/superfish/hoverIntent.js" %}'></script>
  <script src='{% static "lib/superfish/superfish.min.js" %}'></script>
  <script src='{% static "lib/easing/easing.min.js" %}'></script>
  <script src='{% static "lib/modal-video/js/modal-video.js" %}'></script>
  <script src='{% static "lib/owlcarousel/owl.carousel.min.js" %}'></script>
  <script src='{% static "lib/wow/wow.min.js" %}'></script>
  <!-- Contact Form JavaScript File -->
  <script src='{% static "contactform/contactform.js" %}'></script>
  <!-- Template Main Javascript File -->
  <script src='{% static "js/main.js" %}'></script>
</body>
</html>
