<!DOCTYPE html>
<html lang="ko">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>{% block title %} {% endblock title %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i"
          rel="stylesheet">

    <!-- Bootstrap css -->
    <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
    <link href='{% static "lib/bootstrap/css/bootstrap.css" %}' rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href='{% static "lib/owlcarousel/assets/owl.carousel.min.css" %}' rel="stylesheet">
    <link href='{% static "lib/owlcarousel/assets/owl.theme.default.min.css" %}' rel="stylesheet">
    <link href='{% static "lib/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet">
    <link href='{% static "lib/animate/animate.min.css" %}' rel="stylesheet">
    <link href='{% static "lib/modal-video/css/modal-video.min.css" %}' rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href='{% static "css/style.css" %}' rel="stylesheet">

    <!-- favicon.ico -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico'  %}" />
    
    <!-- =======================================================
    Theme Name: eStartup
    Theme URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
    ======================================================= -->

    <!-- js file -->
    <script type="text/javascript" src="{% static '/js/board.js' %}"></script>

    {% block head %} {% endblock %}
</head>

<body>
{% block header %}
<header id="header" class="header header-hide">
    <div class="container">
        <div id="logo" class="pull-left">
            <h1><a href="{% url 'index' %}" class="scrollto"><span>RC</span>Coin</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
        </div>

        <nav id="nav-menu-container">

            <ul class="nav-menu">
                <li class="menu-has-children"><a href="{% url 'intro' %}">소개</a>
                    <ul>
                        <li><a href="{% url 'intro' %}">RC코인이란</a></li>
                        <li><a href="{% url 'intro' %}#get-started">이용 안내</a></li>
                        <!--<li><a href="{% url 'intro' %}#team">팀 소개</a></li>-->
                    </ul>
                </li>
                <li><a href="{% url 'map' %}">오시는 길</a>
                </li>
                <li class="menu-has-children"><a href="{% url 'info:list' %}">정보마당</a>
                    <ul>
                        <li><a href="{% url 'info:list' %}">공지사항</a></li>
                    </ul>
                </li>
                <li class="menu-has-children"><a href="{% url 'board:list' %}">커뮤니티</a>
                <input type="hidden" id="board_type_1" value="1">
                    <ul>
                        <li><a class="btn_board_type_1" href="{% url 'board:list' %}">가맹게시판</a></li>
                        <input type="hidden" id="board_type_1" value="1">
                        <li><a class="btn_board_type_2" href="{% url 'board:list' %}">회원게시판</a></li>
                        <input type="hidden" id="board_type_2" value="2">
                    </ul>
                </li>
                <li><a href="{% url 'store:store_list' %}">가맹점</a>
                </li>
                {% if user.is_authenticated %}
                <li class="menu-has-children"><a href="#myInfo">마이페이지</a>
                    <ul>
                        <li><a href="{% url 'profile:account_myInfo' user.id %}">계정관리</a></li>
                        <li><a href="{% url 'publish:publish'%}">자전거 타기</a></li>
                        <li><a href="{% url 'logout' %}">로그아웃</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{% url 'profile:agreement' %}">회원가입</a></li>
                </li>
                <li><a href="{% url 'login' %}">로그인</a></li>
                {% endif %}
            </ul>

        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->
{% endblock header %}
{% block extra_js %}{% endblock %}
{% block content %} {% endblock content %}

{% block footer %}
<!--==========================
Footer
============================-->

<section id="content">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="footer-logo">
                        <a class="navbar-brand" href="{% url 'index' %}">RC COIN</a>
                        <p style="font-size:17px;">RC코인은 울릉도의 지역경제를 활성화시키기 위하여 만들어진 친환경 코인입니다. 자전거를 타는 활동을 통하여 RC코인을 분배받을 수 있습니다.</p>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-2">
                    <div class="list-menu">
                        <h4>소개</h4>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'intro' %}">RC코인이란?</a></li>
                            <!--<li><a href="#">팀 소개</a></li>-->
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-2">
                    <div class="list-menu">
                        <h4>가맹점 찾기</h4>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'store:filteredStores' 1 %}">울릉읍</a></li>
                            <li><a href="{% url 'store:filteredStores' 3 %}">북면</a></li>
                            <li><a href="{% url 'store:filteredStores' 2 %}">서면</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-2">
                    <div class="list-menu">
                        <h4>정보마당</h4>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'info:list' %}">공지사항</a></li>
                            {% comment %} <li><a href="#">자주하는 질문</a></li> {% endcomment %}
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-2">
                    <div class="list-menu">
                        <h4>커뮤니티</h4>
                        <ul class="list-unstyled">
                            <li><a class="btn_board_type_1" href="{% url 'board:list' %}">가맹게시판</a></li>
                            <input type="hidden" id="board_type_1" value="1">
                            <li><a class="btn_board_type_2" href="{% url 'board:list' %}">회원게시판</a></li>
                            <input type="hidden" id="board_type_2" value="2">
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyrights">
            <div class="container">
                <p>&copy; Copyrights RGB PROJECT. All rights reserved.</p>
                <div class="credits">
                    <!--
                    All the links in the footer should remain intact.
                    You can delete the links only if you purchased the pro version.
                    Licensing information: https://bootstrapmade.com/license/
                    Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eStartup
                    -->
                    Designed by <a href="#">RGB PROJECT</a>
                </div>
            </div>
        </div>
    </footer>
</section>
{% endblock footer %}

<!--<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></a>-->

<!--챗봇-->
<!--<div class="floating">-->
<!--<a href = "javascript:void(0);" id='btx' class="botOn"><img src="{% static 'img/arrow.png' %}" alt="챗봇"></a>-->
<!--<div id="open">-->
<!--<div class="resizable">-->
<!--<iframe id="abc" src ='https://frogue.danbee.ai/?chatbot_id=aa1d2bbd-bc0a-4a6c-8801-817df75dc1e9&user_id=사용자아이디'target="_blank">-->
<!--<img src="{% static 'img/chat.png' %}" alt="img" style="max-width: 100%; height: auto;">-->
<!--</iframe>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--=======-->
<!--<div class="floating" style="width: 20%; margin-left: 0px">-->
<!--<a href = "javascript:void(0);" id='btx'>챗봇 닫기</a>-->
<!--<div id="open" style="height: 550%; width: 100%;">-->

<!--<iframe id="abc" src='https://frogue.danbee.ai/?chatbot_id=aa1d2bbd-bc0a-4a6c-8801-817df75dc1e9&user_id=사용자아이디'-->
<!--target="_blank">-->
<!--<img src="{% static 'img/chat.png' %}" alt="img" style="max-width: 100%; height: auto;">-->
<!--</iframe>-->

<!--</div>-->
<!--</div>-->

<!-- JavaScript Libraries -->
<script src='{% static "lib/jquery/jquery.min.js" %}'></script>
<script src='{% static "lib/jquery/jquery-migrate.min.js" %}'></script>
<script src='{% static "lib/bootstrap/js/bootstrap.bundle.min.js" %}'></script>
<script src='{% static "lib/superfish/hoverIntent.js" %}'></script>
<script src='{% static "lib/superfish/superfish.min.js" %}'></script>
<script src='{% static "lib/easing/easing.min.js" %}'></script>
<script src='{% static "lib/modal-video/js/modal-video.js" %}'></script>
<script src='{% static "lib/owlcarousel/owl.carousel.min.js" %}'></script>
<script src='{% static "lib/wow/wow.min.js" %}'></script>
<!-- Contact Form JavaScript File -->
<script src='{% static "contactform/contactform.js" %}'></script>
<!-- Template Main Javascript File -->
<script src='{% static "js/main.js" %}'></script>
<script>
    $(document).ready(function(){

        // 기존 css에서 플로팅 배너 위치(top)값을 가져와 저장한다.
        var floatPosition = parseInt($("#floatMenu").css('top'));
        // 250px 이런식으로 가져오므로 여기서 숫자만 가져온다. parseInt( 값 );

        $(window).scroll(function() {
            // 현재 스크롤 위치를 가져온다.
            var scrollTop = $(window).scrollTop();
            var newPosition = scrollTop + floatPosition + "px";

            /* 애니메이션 없이 바로 따라감
             $("#floatMenu").css('top', newPosition);
             */

            $("#floatMenu").stop().animate({
                "top" : newPosition
            }, 500);

        }).scroll();

       btn_click_ctl()

    });


$('#btx').click(function(){
  if( $(this).hasClass("botOn") ){
    $('#open').hide();
    $(this).removeClass("botOn")
    $(this).addClass("botOff")
  }else if( $(this).hasClass("botOff") ){
    $('#open').show();
    $(this).removeClass("botOff")
    $(this).addClass("botOn")
  }
});


</script>
</body>
</html>
