{% extends './base.html' %}

{% load staticfiles %}

{% block title %}RC Coin{% endblock title %}

{% block content %}

  <!--==========================
    소개 id hero
  ============================-->
  <br><br><br><br>

  <section id="about-us" class="about-us padd-section wow fadeInUp">
    <div class="container">
      <div class="row justify-content-center">

        <div class="col-md-5 col-lg-3">
          <img src="{% static 'img/ul2.jpg'%}" alt="About">
        </div>

        <div class="col-md-7 col-lg-5">
          <div class="about-content">
            
            <h2><span>RC coin 이란?</span></h2>
            <p><h4>"RC란 지역화폐를 뜻하는 Region Currency 의 약자이며, 지역공동체를 실현하는 울릉도 지역화폐의 기본 통화 단위입니다."</h4></p>

           
            <ul class="list-unstyled">
              <li><i></i><span><h1>"1RC = 1원"</h1></span></li>
              <li><i class="fa fa-angle-right"></i>사회적 가치 - 자전거 트래킹</li>
              <li><i class="fa fa-angle-right"></i>울릉지역화폐 - 사회적 가치 실현을 통한 지역화폐의 적립</li>
              <li><i class="fa fa-angle-right"></i>가맹점 - 음식점, 레저스포츠 시설, 숙박시설</li>
            
            </ul>

          </div>
        </div>

      </div>
    </div>
  </section>



  <!--==========================
    rc 코인이란 id get-started
  ============================-->
  
  <!--==========================
    이용안내  id get-started
  ============================-->
   <div style="padding:70px ">
  <section id="get-started" class="wow fadeIn">
    
    <div  class="container">
      <div class="section-title text-center">
        <br/><br/>
        <h1>이용안내</h1></p>
        <p class="separator"><span>회원/가맹점 가입방법</span></p>

      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-6">
          <div class="feature-block" align="center">

            <img src="{% static 'img/svg/shop.png'%}" alt="img" class="img-fluid" align="center">
            <h3 align="center">온라인 및 어플리케이션 회원가입</h3></p>
            <h4 align="center">- 온라인 회원가입</h4></p>
            <p align="center">www.RCcoin.com 접속 후 회원가입</p>
            <h4 align="center">- 어플리케이션 회원가입</h4>
            <p align="center">구글 플레이 스토어에서 RCcoin 접속 후 회원가입</p>

          </div>
        </div>

        <div class="col-md-6 col-lg-6">
          <div class="feature-block" align="center">

            <img src="{% static 'img/svg/membership.png'%}" alt="img" class="img-fluid" align="center">
            <h3 align="center">오프라인 회원가입</h3></p>
            <h4 align="center">STEP 01</h4></p>
            <p align="center">회원/가맹점 가입신청서 작성</p>
            </p><h4 align="center">STEP 02</h4>
            <p align="center">구청 혹은 동주민센터에 가입신청서 제출</p>


          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="testimonials" class="padd-section text-center wow fadeInUp">
    <div class="container">
      <div class="row justify-content-center">

        <div class="col-md-8">

          <div class="testimonials-content">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

              <div class="carousel-inner" role="listbox">

                <div class="carousel-item  active">
                  <div class="top-top">

                    <h2>지역화폐 "RC" 사용방법</h2>
                    <br>지역화폐 가맹점에서 사용 기준에 따라 카드 또는 앱으로 RC 사용이 가능합니다.
                    <p><h3>사용 예시</h3><br>사용 기준율 10% 가맹점에서 1,000원 결제시, 100RC 사용 후 900원 결제</p>
                    
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
 
<!--==========================
    팀소개 id team
  ============================-->
  
  <section id="team" class="padd-section text-center wow fadeInUp">
    
    <div style="padding:70px"  class="container">
      <div class="section-title text-center">
        
        <h2>팀 소개</h2>
        <p class="separator">RC코인을 제작한 RGB 프로젝트팀을 소개합니다.</p>

      </div>
    </div>


    <div class="container">
      <div class="row">

        <div class = "owl-carousel owl-theme">
          <div class="col-md-12 col-md-12 col-lg-12">
            <div class="team-block bottom">
              <img src='{% static "mainapp/img/team/1.jpg" %}' class="img-responsive" alt="img">
              <div class="team-content">
                <ul class="list-unstyled">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <span>음식</span>
                <h4>냉면맛집</h4>
              </div>
            </div>
          </div>


       <div class="col-md-6 col-md-4 col-lg-12">
          <div class="team-block bottom">
            <img src='{% static "mainapp/img/team/2.jpg" %}' class="img-responsive" alt="img">
            <div class="team-content">
              <ul class="list-unstyled">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
              <span>숙박</span>
              <h4>졸라 좋아요</h4>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-md-4 col-lg-12">
          <div class="team-block bottom">
            <img src='{% static "mainapp/img/team/3.jpg" %}' class="img-responsive" alt="img">
            <div class="team-content">
              <ul class="list-unstyled">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
              <span>여행</span>
              <h4>여행은 좋아요</h4>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-md-4 col-lg-12">
          <div class="team-block bottom">
            <img src='{% static "mainapp/img/team/4.jpg" %}' class="img-responsive" alt="img">
            <div class="team-content">
              <ul class="list-unstyled">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
              <span>뭐하니</span>
              <h4>뭐하니</h4>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-md-4 col-lg-12">
          <div class="team-block bottom">
            <img src='{% static "mainapp/img/team/2.jpg" %}' class="img-responsive" alt="img">
            <div class="team-content">
              <ul class="list-unstyled">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
              <span>숙박</span>
              <h4>졸라 좋아요</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock content %}

