{% extends './index_base.html' %}

{% load staticfiles %}

{% block title %}RC Coin{% endblock title %}

{% block content %}
<style>
.submitbox{
    
    border-top: 6px solid #7ac55d;
    background-color:#fff;
    /* padding: 20px; */
    align:center;
    padding-bottom: 1px;
    width: 70%;
    box-shadow: 0 10px 10px -2px rgba(0,0,0,0.12),0 -2px 10px -2px rgba(0,0,0,0.12);    
    }
    
</style>
  <!--==========================
    소개 id hero
  ============================-->
  <br><br><br><br>
<div class="row justify-content-center">
<div class="submitbox">
  <section id="about-us" class="about-us padd-section fadeInUp">
    <div class="container">
    
      <div class="row justify-content-center">

        <div class="col-md-5 col-lg-4">
          <img src="{% static 'img/ul2.jpg'%}" alt="About">
        </div>

        <div class="col-md-7 col-lg-8">
          <div class="about-content">
            
            <h2 align="left"><span>RC coin 이란?</span></h2><br>
            <p><h4>"RC란 지역화폐를 뜻하는 Region Currency의 약자이며<br>
            지역공동체를 실현하는 지역화폐 기본 통화 단위입니다."</h4><br>
              <span><h1 style="font-color:#000000;">"1RC = 1원"</h1></span></li><br><br>
              <span style="font-size:16px;"><i class="fa fa-angle-right"></i> 사회적 가치 - 자전거 트래킹</span><br>
              <span style="font-size:16px;"><i class="fa fa-angle-right"></i> 울릉지역화폐 - 사회적 가치 실현을 통한 지역화폐의 적립</span><br>
              <span style="font-size:16px;"><i class="fa fa-angle-right"></i> 가맹점 - 음식점, 레저스포츠 시설, 숙박시설</span>
            </p>

          </div>
        </div>

      </div>
    </div>
  </section>
   <div style="padding:70px ">
    <section id="get-started" class="fadeIn">
      
      <div  class="container">
        <div class="section-title text-center">
          <br/><br/>
          <h1>이용안내</h1></p>
          <p><span style="font-size:20px; font-weight:bold;">회원/가맹점 가입방법</span></p>

        </div>
      </div>

      <div class="container">
        <div class="row">

          <div class="col-md-6 col-lg-6">
            <div class="feature-block" align="center">

              <img src="{% static 'img/svg/shop.png'%}" alt="img" class="img-fluid" align="center">
              <h3 align="center">온라인 및 어플리케이션 회원가입</h3></p>
              <h4 align="center">- 온라인 회원가입</h4></p>
              <p align="center" style="font-size:15px; font-weight:bold;">www.RCcoin.com 접속 후 회원가입</p>
              <h4 align="center">- 어플리케이션 회원가입</h4>
              <p align="center" style="font-size:15px; font-weight:bold;">구글 플레이 스토어에서 RCcoin 접속 후 회원가입</p>

            </div>
          </div>

          <div class="col-md-6 col-lg-6">
            <div class="feature-block" align="center">

              <img src="{% static 'img/svg/membership.png'%}" alt="img" class="img-fluid" align="center">
              <h3 align="center">오프라인 회원가입</h3></p>
              <h4 align="center">STEP 01</h4></p>
              <p align="center" style="font-size:15px; font-weight:bold;">회원/가맹점 가입신청서 작성</p>
              </p><h4 align="center">STEP 02</h4>
              <p align="center" style="font-size:15px; font-weight:bold;">구청 혹은 동주민센터에 가입신청서 제출</p>


            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="testimonials" class="padd-section text-center fadeInUp">
      <div class="container">
        <div class="row justify-content-center">

          <div class="col-md-8">

            <div class="testimonials-content">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner" role="listbox">

                  <div class="carousel-item  active">
                    <div class="top-top">

                      <h2>지역화폐 "RC" 사용방법</h2><br>
                      <p style="font-size:15px; font-weight:bold;">지역화폐 가맹점에서 사용 기준에 따라 카드 또는 앱으로 RC 사용이 가능합니다.</p><br>
                      <p><h2>사용 예시</h2></p><br>
                      <p style="font-size:15px; font-weight:bold;">사용 기준율 10% 가맹점에서 1,000원 결제시, 100RC 사용 후 900원 결제</p>
                      
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
  </div>
</div>
</div>
<br>


  {% endblock content %}

