<!DOCTYPE html>

{% extends './index_base.html' %}

{% load staticfiles %}

{% block title %}RC Coin{% endblock title %}

{% block content %}

<style>
.submitbox{
    
    border-top: 6px solid #7ac55d;
    background-color:#fff;
    /* padding: 20px; */
    align:center;
    padding-bottom: 1px;
    width: 70%;
    margin-left: 15%;
    box-shadow: 0 10px 10px -2px rgba(0,0,0,0.12),0 -2px 10px -2px rgba(0,0,0,0.12);    
    }
    
</style>
<br><br><br><br>
<div class="submitbox">
<section id="blog" class="fadeInUp" style="padding-top:25px;">

    <div class="container">
      <div class="text-center">

        <h2>오시는 길</h2>
        <p style="font-size:20px;"class="separator"><h4>당신을 울릉도로 안내합니다.</h4></p>
      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-4">
          <div class="block-blog text-left">
            <a href="http://www.ulleung.go.kr/tour/page.htm?mnu_uid=2052&" target="_blank"><img src="{% static 'img/map/포항.gif'%}" alt="img"></a>

            <div class="content-blog">
              <h4><a href="http://www.ulleung.go.kr/tour/page.htm?mnu_uid=2052&" target="_blank">포항에서</a></h4>
              <span style="font-size:16px;">포항 여객터미널</span>
              <a class="pull-right readmore" href="http://www.ulleung.go.kr/tour/page.htm?mnu_uid=2052&" target="_blank">read more</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="block-blog text-left">
            <a href="http://www.ulleung.go.kr/tour/page.htm?mnu_uid=2053&" target="_blank"><img src="{% static 'img/map/후포.gif'%}" class="img-responsive" alt="img"></a>

            <div class="content-blog">
              <h4><a href="http://www.ulleung.go.kr/tour/page.htm?mnu_uid=2053&" target="_blank">후포에서</a></h4>
              <span style="font-size:16px;">후포항 여객터미널</span>
              <a class="pull-right readmore" href="http://www.ulleung.go.kr/tour/page.htm?mnu_uid=2053&" target="_blank">read more</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="block-blog text-left">
            <a href="http://www.ulleung.go.kr/tour/page.htm?mnu_uid=2054&" target="_blank"><img src="{% static 'img/map/목포.gif'%}" class="img-responsive" alt="img"></a>

            <div class="content-blog">
              <h4><a href="http://www.ulleung.go.kr/tour/page.htm?mnu_uid=2054&" target="_blank">묵호에서</a></h4>
              <span style="font-size:16px;">묵호 여객터미널</span>
              <a class="pull-right readmore" href="http://www.ulleung.go.kr/tour/page.htm?mnu_uid=2054&" target="_blank">read more</a>
            </div>
          </div>
        </div>



      </div>
    </div>
    <br>
    <div class="container">
            <div class="row">

              <div class="col-md-6 col-lg-4">
                <div class="block-blog text-left">
                  <a href="http://www.ulleung.go.kr/tour/page.htm?mnu_uid=2055&" target="_blank"><img src="{% static 'img/map/강릉.gif'%}" alt="img"></a>

                  <div class="content-blog">
                    <h4><a href="http://www.ulleung.go.kr/tour/page.htm?mnu_uid=2055&" target="_blank">강릉에서</a></h4>
                    <span style="font-size:16px;">강릉(안목)항 여객터미널</span>
                    <a class="pull-right readmore" href="http://www.ulleung.go.kr/tour/page.htm?mnu_uid=2055&" target="_blank">read more</a>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <div class="block-blog text-left">
                  <a href="http://www.ulleung.go.kr/tour/page.htm?mnu_uid=2067&" target="_blank"><img src="{% static 'img/map/독도.gif'%}" class="img-responsive" alt="img"></a>

                  <div class="content-blog">
                    <h4><a href="http://www.ulleung.go.kr/tour/page.htm?mnu_uid=2067&" target="_blank">독도</a></h4>
                    <span style="font-size:16px;">여객선 이용시 유의사항</span>
                    <a class="pull-right readmore" href="http://www.ulleung.go.kr/tour/page.htm?mnu_uid=2067&" target="_blank">read more</a>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-4">
                    <div class="block-blog text-left">
                      <a href="http://www.ulleung.go.kr/tour/page.htm?mnu_uid=2061&" target="_blank"><img src="{% static 'img/map/배.jpg'%}" class="img-responsive" alt="img"></a>

                      <div class="content-blog">
                        <h4><a href="http://www.ulleung.go.kr/tour/page.htm?mnu_uid=2061&" target="_blank">배시간&요금</a></h4>
                        <span style="font-size:16px;">여객선 이용시 유의사항</span>
                        <a class="pull-right readmore" href="http://www.ulleung.go.kr/tour/page.htm?mnu_uid=2061&" target="_blank">read more</a>
                      </div>
                    </div>
                  </div>



            </div>
          </div>
          <br>
</section>

{% comment %} <section id="testimonials" class="padd-section text-center fadeInUp">

    <div class="container">
        <div class="section-title text-center">
                <h2>울릉도 지도</h2>
                <p class="separator">울릉도 관광 안내도입니다.</p>
        </div>
      <div class="row justify-content-center">

        <div class="col-md-8">

          <div>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <html>
                    <head>
                     <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
                     <meta charset="euc-kr">

                     <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
                     <script>
                     function initialize() {

                     var Y_point = 37.482610; // Y 좌표,
                     var X_point = 130.909773; // X 좌표
                     var zoomLevel = 15; // 첫 로딩시 보일 지도의 확대 레벨
                     var markerTitle = "울릉도 여객터미널"; // 현재 위치 마커에 마우스를 올렸을때 나타나는 이름
                     var markerMaxWidth = 300; // 마커를 클릭했을때 나타나는 말풍선의 최대 크기

                     // 말풍선 내용
                     var contentString = '<div id="content">' +
                     '<div id="siteNotice">' +
                     '</div>' +
                     '<h3 id="firstHeading" class="firstHeading">포항여객터미널</h3>' +
                     '<div id="bodyContent">' +
                     '<p>포항시 중앙동 구항<br />' +
                     '</div>' +
                     '</div>';

                     var myLatlng = new google.maps.LatLng(Y_point, X_point);
                     var mapOptions = {
                     zoom: zoomLevel,
                     center: myLatlng,
                     mapTypeId: google.maps.MapTypeId.ROADMAP
                     }
                     var map = new google.maps.Map(document.getElementById('map_view'), mapOptions);

                     var marker = new google.maps.Marker({
                     position: myLatlng,
                     map: map,
                     title: markerTitle
                     });

                     var infowindow = new google.maps.InfoWindow(
                     {
                     content: contentString,
                     maxWidth: markerMaxWidth
                     }
                     );

                     google.maps.event.addListener(marker, 'click', function() {
                     infowindow.open(map, marker);
                     });
                     }
                     </script>
                    </head>

                    <body onload="initialize()">
                     <div id="map_view" style="width:750px; height:400px;"></div>
                    </body>
                        </html>
              <div class="carousel-inner" role="listbox">


              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</section> {% endcomment %}
</div>
<br>

{% endblock content %}



