{% extends 'index_base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
{% endblock head %}

{% block content %}
<section id="hero">
    <form action="." method="POST">
        {% csrf_token %}
        <div class="con_tit">
            <h3>비밀번호 확인</h3>
        </div>
        <div class="sm_wrap">
            <ul>
                <li><h3>본인 확인을 위해 비밀번호를 입력해주세요.</h3></li>
                <li><input type="password" name="password" value="" placeholder="비밀번호를 입력해 주세요."  autocomplete="off" required autofocus/></li>
            </ul>
            <ul>
                <li class="txt_red">{% if error %}{{ error }}{% endif %}</li>
            </ul>
            <div class="one_btn pb10">
                <div class="one_green">
                    <button type="submit">확인</button>
                </div>
            </div>
            <div class="one_btn">
                <div class="one_gray">
                    <a href="{% url 'profile:account_myInfo' user.id %}">취소</a>
                </div>
            </div>
        </div>
    </form>
</section>
{% endblock content %}