{% extends 'index_base.html' %}
{% load staticfiles %}

{% block head %}

    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/account.css' %}" rel="stylesheet">
    <link href="{% static 'css/modal.css' %}" rel="stylesheet">

{% endblock head %}

{% block content %}

<section id="content" style="margin-top: 50px; margin-bottom: 50px">
	<div class="container" align="center">
        <div class="submitbox" style="max-width:400px">
            <div class="col-lg-12">
                <span class="boxtitle">본인확인</span>   
            </div>
        
            <form action="." method="POST">
                {% csrf_token %}

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <img src="{% static 'img/account/search_password.png' %}"  alt="Logo">
                    <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호를 입력해주세요." autofocus="true" required autocomplete="off" >
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <button type="submit" class="btn submitButton">확인</button>
                    <a href="{% url 'profile:account_myInfo' user.id %}" class="btn cancelButton">취소</a> 
                </div>
            </form>

        </div>
    </div>
    {% if error %}
        <input type="text" id="status" value="failed" hidden></input>
    {% endif %}
    
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="boxtitle">비밀번호 오류</h4>
                </div>
                <div id="msg" class="modal-body" align="center">
                    비밀번호가 일치하지 않습니다.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn confirmButton" data-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/check_password.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>

{% endblock content %}