{% extends 'index_base.html' %}
{% load staticfiles %}

{% block head %}

<link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}" />
<style>
    #msg {
        font-size: 20px;
        color: #23bab5;
    }
</style>
{% endblock head %}

{% block content %}

<section id="content" style="margin-top: 50px; margin-bottom: 50px">
	<div class="container" align="center">
        <div class="submitbox" style="max-width:400px">
            <div class="col-lg-12">
                <span class="boxtitle">{{ title }}</span>   
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <img src="{% static 'img/account/mascot.jpg' %}"  alt="Logo">
                {% for message in messages %}
                    <p id="msg">{{ message }}</p>
                {% endfor %}
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <a href="{% url 'index' %}" class="btn confirmButton">확인</a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}