{% extends 'index_base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}"/>
{% endblock head %}

{% block content %}

<section id="hero">
    <br/>
    <div class="container">
        <div class="con_tit">
            <h3>RCCoin</h3>
        </div>

        <div class="sm_wrap">
            <form id="signup" action="." method="POST">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header text-success">
                        <strong>로그인</strong>
                    </div>

                    <div class="card-body">
                        <div class="card-block">
                            {% if form.errors %}
                            <div id="msg" class="alert alert-danger" role="alert">
                                아이디 또는 비밀번호가 올바르지 않습니다.
                            </div>
                            {% else %}
                            <div id="msg" class="alert alert-success" role="alert">
                                사용자 정보를 입력해주세요.
                            </div>
                            {% endif %}
                        </div>

                        <div class="card-block row">
                            <div class="col-sm input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">아&nbsp;이&nbsp;디&nbsp;</span>
                                </div>
                                <input type="text" id="username" name="username" class="form-control" placeholder="아이디를 입력해 주세요." autocomplete="off" autofocus/>
                            </div>
                        </div>

                        <div class="card-block row">
                            <div class="col-sm input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">비밀번호</span>
                                </div>
                                <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호를 입력해 주세요." autocomplete="off"/>
                            </div>
                        </div>

                        <div class="card-block row">
                            <br/>
                            <div class="col-sm input-group mb-3">
                                <button type="submit" id="btn_login" class="one_green form-control">로그인</button>
                            </div>
                            <div class="col-sm input-group mb-3">
                                <a href="{% url 'index' %}" class="one_gray form-control">취소</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="pass_src">
        <a href="{% url 'profile:search_username' %}">아이디 찾기</a> |
        <a href="{% url 'profile:search_password' %}">비밀번호 찾기</a> |
        <a href="{% url 'profile:signup' %}">회원가입</a>
    </div>
</section>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/login.js' %}"></script>
{% endblock content %}