{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}로그인{% endblock title %}

{% block content %}

<section id="hero" class="wow fadeIn">
    <div class="hero-container">
        <div class="row justify-content-center">
            <br/><br/>
            <h1>로그인</h1>
            <h2><span>회원 정보를 입력해주세요.</span></h2>
            <p></p>

            <div class="row justify-content-center">
                <form class="col-md-9 col-lg-6" action="." method="post">
                    {% csrf_token %}
                    <div class="form">
                        <div class="feature-block">
                            <h1><label for="id_username">UserName</label></h1><input type="text" name="username" autofocus required id="id_username">
                        </div>

                        <div class="feature-block">
                            <h1><label for="id_password">Password</label></h1><input type="password" name="password" required id="id_password">
                        </div>

                        <div class="text-center">
                            <button type="button" class="btn btn-default">로그인</button>
                            <a href="{% url 'index' %}"><input type="button" class="btn btn-default" value="취소"></input></a>
                        </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!--<section id="contact" class="padd-section wow fadeInUp">-->
    <!--<div class="container">-->
        <!--<div class="section-title text-center">-->
            <!--<h2>로그인</h2>-->
            <!--<p class="separator">회원 정보를 입력해주세요.</p>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="container">-->
        <!--<div class="row justify-content-center">-->
            <!--<form class="form-inline" action="." method="post">-->
                <!--{% csrf_token %}-->
                <!--<div class="form">-->
                    <!--<div class="form-group">-->
                        <!--<label for="id_username">사용자 이름:</label><input type="text" name="username" autofocus required id="id_username">-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                        <!--<label for="id_password">비밀번호:</label><input type="password" name="password" required id="id_password">-->
                    <!--</div>-->

                    <!--<div class="text-center">-->
                        <!--<button type="submit" class="btn btn-default">로그인</button>-->
                        <!--<a href="{% url 'index' %}"><input type="button" class="btn btn-default" value="취소"></input></a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->
{% endblock content %}
