{% extends './index_base.html' %}
{% load staticfiles %}
{% static "css/style.css" %}

{% block title %}로그인{% endblock title %}

{% block content %}

<section id="get-started" class="padd-section wow fadeInUp">
    <div class="hero-container">
        <div class="section-title text-center">
            <h1>로그인</h1>
            <h4>회원정보를 입력해주세요</h4>
        </div>
        <div>
            <div class="row justify-content-center">
                <form action="." method="post">
                    {% csrf_token %}
                    <div class="form">
                        <div class="form-group">
                            <h4 class="text-success">UserName</h4><input type="text" name="username" class="form-control" autofocus required id="id_username">
                        </div>

                        <div class="form-group">
                            <h4 class="text-success">Password</h4><input type="password" name="password" class="form-control" required id="id_password">
                        </div>

                        <div>
                            <button type="submit" class="btn btn-success">로그인</button>
                            <a href="{% url 'index' %}"><input type="button" value="취소" class="btn btn-success"/></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}