{% extends 'index_base.html' %}
{% load staticfiles %}

{% block head %}

<meta name="csrf-token" content="{{ csrf_token }}" />

<link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/myinfo.css' %}" rel="stylesheet">
<link href="{% static 'css/modal.css' %}" rel="stylesheet">

{% endblock head %}

{% block content %}

<section id="content" style="margin-top: 50px; margin-bottom: 50px">
	<input type="text" id="from" value="{{ user.username }}" hidden />
	<input type="text" id="u_id" value="{{ user.id }}" hidden />
 
	<div class="container">
        <div class="submitbox">

            <span class="boxtitle">l 계정관리</span>

            <div class="row margin-top">
                <div class="card margin-left">
                    <img src="{% static 'img/account/wallet.png' %}" class="margin-left" alt="보유잔액">
                    <div class="top-right">보유 금액</div>
                    <div class="centered-right">{{ balance }}&nbsp;RC</div>
                    <div class="bottom-right">
                        <label class="qrcode-text-btn" style="width: 160px; text-align: right;"><input type=file accept="image/*" capture=environment onchange="openQRCamera(this);">결제하기</label>
                        &nbsp;/&nbsp;<a href="{% url 'payment:withdraw' user.id %}" class="font-white">송금하기</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            {{ context.username }}
                            <a href="{% url 'profile:check_password' user.id %}" class="profile-edit-btn" name="btnAddMore">정보수정</a>
                        </h5>
                        <p class="proile-rating">
                            <div class="row margin-left margin-right margin-top">
                                <img src="{% static 'img/account/email.png' %}" class="icon" alt="email"/>
                                <span class="icon_txt">{{ context.email }}</span>
                            </div>
							<br>
                            <div class="row margin-left margin-right margin-top">
                                <img src="{% static 'img/account/gender.png' %}" class="icon" alt="성별"/>
                                <span class="icon_txt">
                                {% if context.gender == "m" %}
                                    남자
                                {% else %}
                                    여자
                                {% endif %}
                                </span>
                            </div>
							<br>
                            <div class="row margin-left margin-right margin-top">
                                <img src="{% static 'img/account/birthday.png' %}" class="icon" alt="생년월일"/>
                                <span class="icon_txt">{{ context.birth_year }}.{{ context.birth_month }}.{{ context.birth_date }}</span>
                            </div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row profile-head margin-left margin-right">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="myHistory-tab" data-toggle="tab" href="#myHistory" role="tab" aria-controls="myHistory" aria-selected="false">거래내역</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="myBoard-tab" data-toggle="tab" href="#myBoard" role="tab" aria-controls="myBoard" aria-selected="true">게시글 관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="myStore-tab" data-toggle="tab" href="#myStore" role="tab" aria-controls="myStore" aria-selected="false">가맹점 관리</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content profile-tab" id="myTabContent">
				<div class="tab-pane fade show active" id="myHistory" role="tabpanel" aria-labelledby="myHistory-tab">
					<div class="pull-right">
						<div class="btn-group" >
							<button type="button" class="btn btn-danger btn-filter"  value="1" onclick="get_history(1, 1)" data-target="발행">발행</button>
							<button type="button" class="btn btn-filter" style="background: #7ac55d;" value="2" onclick="get_history(1, 2)" data-target="송금">송금</button>
							<button type="button" class="btn btn-warning btn-filter" value="3" onclick="get_history(1, 3)" data-target="결제">결제</button>
							<button type="button" class="btn btn-primary custom-btn btn-filter" value="0" onclick="get_history(1, 0)" data-target="all">종합</button>
						</div>
					</div>
				<br>
				<div class="table-container">
					<table class="table table-filter">
						<tbody id="history"></tbody>                            
					</table>
                    <div class="row justify-content-center">
						<nav aria-label="page navigation">
							<ul id="page-area-2" class="pagination"></ul>
						</nav>
					</div>
				</div>
			</div>

			<div class="tab-pane fade show" id="myBoard" role="tabpanel" aria-labelledby="myBoard-tab">
				<div class="row card">
					<table class="table table-hover shopping-cart-wrap">
						<thead class="text-muted">
								<tr>
									<th width="80px">번호</th>
									<th width="500px">제목</th>
									<th width="300px">작성일</th>
									<th width="150px">조회수</th>
								</tr>
						</thead>
						<tbody id="myboard"></tbody>
					</table>
					<div class="row justify-content-center">
						<nav aria-label="page navigation">
							<ul id="page-area-3" class="pagination"></ul>
						</nav>
					</div>
				</div>
			</div>
			
            
			<div class="row col-sm tab-pane fade" id="myStore" role="tabpanel" aria-labelledby="myStore-tab">
                <div class="row col-sm profile-head">
                    <h5 id="store_name"></h5>
                </div>
                <div id="myStore" class="row margin-top" style="margin-top:0">
                    <div class="col-md" align="center" height="500px">
                        <img src="" id="image" width="250px">
                        <h5 id="store_name">
                            <div class="justify-content-center row">
                                <form action="{% url 'store:edit' %}" method="POST" style="margin:2%">
                                    {% csrf_token %}
                                    <input type="text" id="modify_id" name="store_id" hidden></input>
                                    <input type="text" name="op" value="template" hidden></input>
                                    <button type="submit" class="btn" style="background-color:#71c55d">수정</button>
                                </form>
                                <form id="del_form" action="{% url 'store:delete' %}" method="POST" style="margin:2%">
                                    {% csrf_token %}
                                    <input type="text" id="del_id" name="del_id" hidden></input>
                                    <input type="button" class="btn" style="background-color:#71c55d" data-toggle="modal" data-target="#myModal" value="삭제" />
                                </form>
                                <form action="{% url 'store:get_QRcode' %}" method="POST" target="_blank" style="margin:2%">
                                    {% csrf_token %}
                                    <input type="text" id="s_id" name="s_id" hidden></input>
                                    <button type="submit" id="btn_qr" class="btn" style="background-color:#71c55d">QR코드</button>
                                </form>    
                            </div>
                        </h5>
                    </div>

                    <div class="col-md" style="margin-top:20px">
                        <div class="profile-head">
                            <p class="proile-rating">
                                <div class="row margin-left margin-right margin-top">
                                    <span class="icon_txt">사업자등록번호&nbsp;:&nbsp;</span>
                                    <span id="corp_num" class="icon_txt"></span>
                                </div>
                                <div class="row margin-left margin-right margin-top">
                                    <span class="icon_txt">등록업종&nbsp;:&nbsp;</span>
                                    <span id="category" class="icon_txt"></span>
                                </div>
                                <div class="row margin-left margin-right margin-top">
                                    <span class="icon_txt">등록지역&nbsp;:&nbsp;</span>
                                    <span id="location" class="icon_txt"></span>
                                </div>
                                <div class="row margin-left margin-right margin-top">
                                    <span class="icon_txt">연락처&nbsp;:&nbsp;</span>
                                    <span id="phone_num" class="icon_txt"></span>
                                </div>
                                <div class="row margin-left margin-right margin-top">
                                    <span class="icon_txt">홈페이지&nbsp;:&nbsp;</span>
                                    <span id="url" class="icon_txt"></span>
                                </div>
                            </p>
                        </div>
                    </div>
                    <div class="col-md" style="margin-top:20px">
                        <div class="profile-head">
                            <p class="profile-rating">
                                <div class="row margin-left margin-right margin-top">
                                    <span class="icon_txt">주소&nbsp;:&nbsp;</span>
                                    <span id="address" class="icon_txt"></span>
                                </div>
                                <div class="row margin-left margin-right margin-top">
                                    <span class="icon_txt">영업시간&nbsp;:&nbsp;</span>
                                    <span id="opening_hours" class="icon_txt"></span>
                                </div>
                                <div class="row margin-left margin-right margin-top">
                                    <span class="icon_txt">등록일&nbsp;:&nbsp;</span>
                                    <span id="registered_date" class="icon_txt"></span>
                                </div>
                                <div class="row margin-left margin-right margin-top">
                                    <span class="icon_txt">수정일&nbsp;:&nbsp;</span>
                                    <span id="modified_date" class="icon_txt"></span>
                                </div>
                                <div class="row margin-left margin-right margin-top">
                                    <span class="icon_txt">승인상태&nbsp;:&nbsp;</span>
                                    <span id="status" class="icon_txt"></span>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="table-container">
					<table class="table table-filter">
						<tbody id="receipt"></tbody>                            
					</table>
                    <div class="row justify-content-center">
						<nav aria-label="page navigation">
							<ul id="page-area" class="pagination"></ul>
						</nav>
					</div>
				</div>
                
                <center id="page-area"></center>
            </div>


		</div>
    </div>

    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="boxtitle">가맹점 삭제</h4>
                </div>
                <div id="msg" class="modal-body" align="center">
                    가맹점을 삭제하시겠습니까?
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn_submit" class="btn submitButton">확인</button>
                    <button type="button" class="btn cancelButton" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
</section>
<br>


<script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/qr_package.js' %}"></script>
<script src="{% static 'js/my_page.js' %}"></script>

{% endblock content %}
