{% extends 'index_base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
{% endblock head %}

{% block content %}

<section id="hero">
    {% if user.is_authenticated %}
        <form id="register" action="{% url 'profile:account_edit' user.id %}" method="POST">
    {% else %}
        <form id="register" action="." method="POST">
    {% endif %}
        {% csrf_token %}

        <input type="text" id="_gender" value="{{ gender }}" hidden/>
        <input type="text" id="_birth_year" value="{{ birth_year }}" hidden/>
        <input type="text" id="_birth_month" value="{{ birth_month }}" hidden/>
        <input type="text" id="_birth_date" value="{{ birth_date }}" hidden/>

        <div class="con_tit">
            <h3>
            {% if user.is_authenticated %}
                정보수정
            {% else %}
                회원가입
            {% endif %}
            </h3>
        </div>
        <div class="sm_wrap">
            <ul>
                <li><h3>아이디</h3></li>
                <li>
                    {% if user.is_authenticated %}
                        <input id="username" type="text" name="username" value="{{ username }}" autocomplete="off" disabled/>
                    {% else %}
                        <input id="username" type="text" name="username" autocomplete="off" required placeholder="아이디를 입력해주세요." autofocus/>
                    {% endif %}
                </li>
                <li id="usernameErrorMsg"></li>
            </ul>
            <ul>
                <li><h3>비밀번호</h3></li>
                <li><input id="password1" type="password" name="password1" placeholder="비밀번호를 입력해주세요." required autocomplete="off"/></li>
                <li id="pwdErrorMsg1"></li>
            </ul>
            <ul>
                <li><h3>비밀번호 확인</h3></li>
                <li><input id="password2" type="password" name="password2" placeholder="비밀번호를 다시 입력해주세요." required autocomplete="off"/></li>
                <li id="pwdErrorMsg2"></li>
            </ul>
            <ul>
                <li><h3>이메일</h3></li>
                <li><input type="email" name="email" value="{{ email }}" placeholder="이메일 주소를 입력해주세요." required autocomplete="off"/></li>
                <li>* 이메일 주소는 아이디/비밀번호 찾기에 이용됩니다.</li>
            </ul>
            <ul>
                <li><h3>성별</h3></li>
                <li>
                    <select id="gender" name="gender">
                        <option value="m">남성</option>
                        <option value="f">여성</option>
                    </select>
                </li>
            </ul>
            <ul class="birthday">
                <li><h3>생년월일</h3></li>
                <li class="birthday"><select id="birth_year" name="birth_year"></select></li>
                <li class="birthday"><select id="birth_month" name="birth_month"></select></li>
                <li class="birthday"><select id="birth_date" name="birth_date"></select></li>
            </ul>
            <ul>
                <li><input type="image" name="image" value="image" hidden></li>
            </ul>
            <ul>
                <li id="formErrorMsg"></li>
            </ul>
            <div class="one_btn pb10">
                <div class="one_green">
                    <button id="btn_submit" type="submit">
                        {% if user.is_authenticated %}
                            수정
                        {% else %}
                            회원가입
                        {% endif %}
                    </button>
                </div>
            </div>
            <div class="one_btn">
                <div class="one_gray">
                    {% if user.is_authenticated %}
                            <a href="{% url 'profile:account_myInfo' user.id %}">취소</a>
                    {% else %}
                            <a href="{% url 'index' %}">취소</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/profile.js' %}"></script>

</form>
{% endblock content %}