{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}회원가입{% endblock title %}

{% block content %}
<section id="contact" class="padd-section wow fadeInUp">
    <div class="container">
        <div class="section-title text-center">
            <h2>회원가입</h2>
            <p class="separator">회원 정보를 입력해주세요.</p>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <form action="." method="post">
                {% csrf_token %}
                <div class="form">
                    <div class="form-group">
                        <label for="id_username">사용자 이름:</label><input type="text" name="username" autofocus required id="id_username">
                    </div>

                    <div class="form-group">
                        <label for="id_password1">비밀번호:</label><input type="password" name="password1" required id="id_password1">
                    </div>

                    <div class="form-group">
                        <label for="id_password2">비밀번호 확인:</label><input type="password" name="password2" required id="id_password2">
                    </div>

                    <div class="form-group">
                        <label for="id_email">이메일:</label><input type="email" name="email" required id="id_email">
                    </div>

                    <div class="form-group">
                        <label for="id_age">나이:</label><input type="integer" name="age" required id="id_age">
                    </div>

                    <div class="form-group">
                        <label for="id_gender">성별:</label><input type="text" name="gender" required id="id_gender">
                    </div>

                    <div class="text-center">
                        <button type="submit">로그인</button>
                        <a href="{% url 'index' %}"><input type="button" value="취소"></input></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}
