{% extends 'index_base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
{% endblock head %}

{% block content %}
<section id="hero">
    <form action="{% url 'profile:search_password' %}" method="POST">
        {% csrf_token %}
        <div class="con_tit">
            <h3>비밀번호 찾기</h3>
        </div>
        <div class="sm_wrap">
            <ul>
                <li><h3>등록된 아이디를 입력해주세요.</h3></li>
                <li><input type="text" name="username" placeholder="아이디를 입력해 주세요." required autocomplete="off" autofocus/></li>
            </ul>
            <ul>
                <li><h3>등록된 이메일을 입력해주세요.</h3></li>
                <li><input type="email" name="email" placeholder="이메일을 입력해 주세요." required autocomplete="off" autofocus/></li>
            </ul>
            <ul align="center">
                {% if error %}
                    <li class="txt_red">{{ error }}</li>
                {% elif user_list %}
                    <li><h3>검색된 아이디</h3></li>
                    {% for user_id in user_list %}
                        <li>{{ user_id }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
            <div class="one_btn pb10">
                <div class="one_green">
                    <button type="submit">비밀번호 초기화</button>
                </div>
            </div>
            <div class="one_btn">
                <div class="one_gray">
                    <a href="{% url 'login' %}">취소</a>
                </div>
            </div>
        </div>
    </form>
</section>
{% endblock content %}