{% extends 'index_base.html' %}
{% load staticfiles %}

{% block head %}

    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/account.css' %}" rel="stylesheet">
    <link href="{% static 'css/modal.css' %}" rel="stylesheet">

{% endblock head %}

{% block content %}

<section id="content" style="margin-top: 50px; margin-bottom: 50px">
	<div class="container" align="center">
        <div class="submitbox" style="max-width:400px">
            <div class="col-lg-12">
                <span class="boxtitle">비밀번호 초기화</span>   
            </div>
            
            <div class="col-lg-12 col-md-12 col-sm-12">
                <img src="{% static 'img/account/search_password.png' %}"  alt="Logo">
                <input type="text" id="username" class="form-control" placeholder="아이디를 입력해주세요." autofocus="true" autocomplete="off" >
                <input type="email" id="email" class="form-control" placeholder="이메일 주소를 입력해주세요." autocomplete="off" >
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <button class="btn submitButton">초기화</Button>
                <a href="{% url 'login' %}" class="btn cancelButton">취소</a> 
            </div>
        </div>
    </div>

    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="boxtitle">비밀번호 초기화</h4>
                </div>
                <div id="msg" class="modal-body" align="center">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn confirmButton" data-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/init_myPassword.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>

{% endblock content %}