{% extends '../operate/base.html' %}
{% block content %}
<!-- modal -->
<!--Modal: Login / Register Form-->
<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

        <!--Modal cascading tabs-->
        <div class="modal-c-tabs">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="material-icons">face</i>Login</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>
                Register</a>
            </li> -->
            </ul>

            <!-- Tab panels -->
            <div class="tab-content">
            <!--Panel 7-->
            <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

                <!--Body-->
                <div class="modal-body mb-1">
                <div class="content">
                    <div><i class="fas fa-rocket"></i></div>
                    <h1 align="center">LOGIN REQUIRED</h1>
                </div>
                <div class="md-form form-sm mb-5">
                    <i class="fas fa-id-card-alt prefix"></i>
                    <input type="email" id="modalLRInput10" class="form-control form-control-sm validate">
                    <label data-error="wrong" data-success="right" for="modalLRInput10">Your email</label>
                </div>

                <div class="md-form form-sm mb-4">
                    <i class="fas fa-lock prefix"></i>
                    <input type="password" id="modalLRInput11" class="form-control form-control-sm validate">
                    <label data-error="wrong" data-success="right" for="modalLRInput11">Your password</label>
                </div>
                <div class="text-center mt-2">
                    <button class="btn btn-info">Log in <i class="fas fa-sign-in-alt"></i></button>
                </div>
                </div>

            </div>
            <!--/.Panel 7-->

            </div>

        </div>
        </div>
        <!--/.Content-->
    </div>
</div>
    <!-- <div class="text-center">
        <a href="" class="start_modal btn btn-default btn-rounded my-3" data-toggle="modal" data-target="#modalLRForm">Launch
            Modal LogIn/Register</a>
    </div> -->
    <script>
        $( document ).ready(function() {
            $("#modalLRForm").modal("show");
            $('#modalLRForm').modal({
                backdrop: 'static',
                keyboard: false
            })
        });
    </script>
{% endblock %}