{% extends './base.html' %}
{% block content %}
<style>
.p{
    padding: 10px 0px 250px 250px
}
</style>
<div class="content">
        <div class="container-fluid">
            <div class="row">
            <div class="col-md-12">
                <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title "><i class="material-icons">trending_up</i>&nbsp;<strong>지역</strong></h4>
                    <p class="card-category">this is the page of managing statistics</p>
                    <p class="card-category"> </p>
                </div>
                <div class="container">
                    <div class="card-body">
                        <div class='row justify-content-center'>
                            <div class='col-sm' align='center'>
                                <table>
                                    <tr>
                                        <td><canvas id="myChart1" width="500" height="400"></canvas></td>
                                    </tr>
                                    
                                    <tr>
                                        <td><canvas id="myChart2" width="500" height="400"></canvas></td>
                                    </tr>
                                    
                                    <tr>
                                        <td><canvas id="myChart3" width="500" height="400"></canvas></td>
                                    </tr>
                                </table>
                            </div>
                            
                            <div class='col-sm'>
                                    <div class="p">
                                        <tr>
                                            <td>
                                                <h3>도표</h3>
                                                <h4>도표</h4>
                                                <div class="section">설명</div>
                                                <div class="section">설명</div>
                                            </td>
                                        </tr>
                                    </div>
                                
                                    <div class="p">
                                        <tr>
                                            <td>
                                                <h3>도표</h3>
                                                <h4>도표</h4>
                                                <div class="section">설명</div>
                                                <div class="section">설명</div>
                                            </td>
                                        </tr>
                                    </div> 
                                
                                    <div class="p">
                                        <tr>
                                            <td>
                                                <h3>도표</h3>
                                                <h4>도표</h4>
                                                <div class="section">설명</div>
                                            <div class="section">설명</div>
                                            </td>
                                        </tr>
                                    </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        var endpoint = '{% url "operate:chartdata" %}'
        var defaultData = []
        var labels_second = []
        var labels = [];
        $.ajax({
            method: "GET",
            url: endpoint,
            success: function(data){
                labels = data.labels
                labels_second = data.labels_second
                defaultData = data.default
                defaultData1 = data.default1
                defaultData2 = data.default1
                setChart()
            },
            error: function(error_data){
                console.log("error")
                console.log(error_data)
            }
        })
        function setChart(){
            var ctx1 = document.getElementById("myChart1");
            var ctx2 = document.getElementById("myChart2");
            var ctx3 = document.getElementById("myChart3");
            
            
            var myChart = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: labels_second,
                datasets: [{
                    label: '연령대별 사용현황',
                    data: defaultData1,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
            var myChart = new Chart(ctx1, {
            type: 'polarArea',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Votes',
                    data: defaultData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
            var myChart = new Chart(ctx3, {
            type: 'line',
            data: {
                labels: labels_second,
                datasets: [{
                    label: '연령대별 사용현황',
                    data: defaultData1,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
        }
    });
</script>
{% endblock content %}