{% extends './base.html' %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-12">
            <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title "><i class="material-icons">cloud_queue</i>&nbsp;<strong>네트워크 관리</strong></h4>
                <p class="card-category">this is the page of managing network</p>
                <p class="card-category"> </p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                        <th>트랜잭션 아이디</th>
                        <th>발행량</th>
                        <th>피 발행인</th>
                        <th>발행일</th>
                    </thead>
                </table>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
    
{% endblock content %}  