{% extends 'index_base.html' %}

{% load staticfiles %}

{% block title %}RC Coin{% endblock title %}

{% block content %}
{% block extrastyle %}{% static "photo/photo.css" %}{% endblock %}

<!--검색창 + 지역 TAB -->
<section id="newsletter" class="newsletter text-center">
    <BR>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-9 col-lg-6">
            <form class="form-inline" method="POST" action="#">
              <input type="search" class="form-control " placeholder="가맹점 찾기" name="store">
              <button type="submit" class="btn btn-default"><i class="fa fa-location-arrow"></i>검색</button>
            </form>
            </br></br>
            <a href="{% url 'photo:album_detail' 3 %}"><button type="button" class="btn btn-default">북면</button></a>
            <a href="{% url 'photo:album_detail' 5 %}"><button type="button" class="btn btn-default">서면</button></a>
            <a href="{% url 'photo:album_detail' 2 %}"><button type="button" class="btn btn-default">울릉읍</button></a>
          </div>
        </div>
      </div>
      </div>
    </section>

<section id="blog">
    {% for item in object_list %}
    <div class="container">
        <br>


        <!--북면/서면/울릉읍-->

        <hr/>
        <div >
            <div>

                {% comment %} {% for photo in item.photo_set.all|slice:":5" %}
                &nbsp;&nbsp;&nbsp;
                <div>
                    <a href="{{ photo.get_absolute_url }}">
                    <img class="thumbnail" src="{{ photo.image.thumb_url }}" />
                    </a>
                </div>
                &nbsp;&nbsp;&nbsp;
                {% endfor %} {% endcomment %}

                <div class="row">
                    {% for photo in item.photo_set.all %}
                    &nbsp;&nbsp;&nbsp;
                    <div class="col-md-12 col-lg-2">
                        <div>
                        <a href="{{ photo.get_absolute_url }}">
                        <img class="thumbnail" src="{{ photo.image.thumb_url }}" />
                        </a>
                            <h4 align="center">{{photo.title}}</h4>
                            <h5 align="center">{{photo.album}}</h5>
                        </div>
                    </div>
                    &nbsp;&nbsp;&nbsp;
                    {% endfor %}

                </div>



            </div>
        </div>
        {% endfor %}

    </div>
</section>
{% endblock %}