{% extends 'index_base.html' %}

{% load staticfiles %}

{% block title %}RC Coin{% endblock title %}

{% block content %}
{% block extrastyle %}{% static "photo/photo.css" %}{% endblock %}
<section id="team">
    <div class="container">
        <br>
        {% for item in object_list %}

        <div class="clear_float">
            <h2 id="a" style="display:inline"><a href="{% url 'photo:album_detail' item.id %}"> {{ item.name }}</a></h2>
            <b><i>{{ item.description }}</i></b>
        </div>

        <hr/>
        <div class="album-list">
            <div class="row">

                {% comment %} {% for photo in item.photo_set.all|slice:":5" %}
                &nbsp;&nbsp;&nbsp;
                <div class="album-list-photo">
                    <a href="{{ photo.get_absolute_url }}">
                    <img class="thumbnail" src="{{ photo.image.thumb_url }}" />
                    </a>
                </div>
                &nbsp;&nbsp;&nbsp;
                {% endfor %} {% endcomment %}

                <div class = "owl-carousel owl-theme">
                    {% for photo in item.photo_set.all %}
                    &nbsp;&nbsp;&nbsp;
                    <div class="col-md-12 col-md-12 col-lg-12">
                        <div class="team-block bottom">
                        <a href="{{ photo.get_absolute_url }}">
                        <img class="thumbnail" src="{{ photo.image.thumb_url }}" />
                        </a>
                        <div class="team-content">
                            <span>{{photo.title}}</span>
                        </div>
                        </div>
                    </div>
                    &nbsp;&nbsp;&nbsp;
                    {% endfor %}

                </div>



            </div>
        </div>
        {% endfor %}

    </div>
</section>
{% endblock %}