{% extends 'index_base.html' %}
{% load staticfiles %}
{% block extra_js %}
<script type="text/javascript" src="{% static '/js/board.js' %}?ver=4"></script>
{% endblock %}
{% block content %}
  <!-- editor -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
<style>
    .btn{
        border: 1px solid rgb(113, 197, 93);
        border-radius: 7px;
        color: #fff;
        background-color: rgb(113, 197, 93);
        font-size: 11px;
        font-weight: 800;
        padding: 6px 21px;
        margin: 5px;
    }
    .note-toolbar{
        display: none;
        height: 0px;
    }
    .note-statusbar{
        display: none;
    }
    .note-editor.note-frame .note-editing-area .note-editable[contenteditable="false"]{
        background-color: white;
    }
</style>
<div class="side_bar" style="float: left; border-top: 1px solid #71c55d; border-bottom: 1px solid #71c55d; margin-left: 40px; background-color: white">
    <div style="padding: 20px; background-color: #71c55d;"><div class="" href="{% url 'board:list' %}" style="text-align: center; color: white; font-weight: bold;"> 게 시 판</div></div>
    <div style="border: 1px solid white;"></div>
    <div style="padding: 20px;" value="1" id="btn_board_type_1"><a class="btn_board_type_1" onclick="back_to_list()" href="{% url 'board:list' %}" style="text-align: center; font-weight: bold;">가맹 게시판</a></div>
    <input type="hidden" id="board_type_1" value="1">
    <div style="border: 1px solid white;"></div>
    <div style="padding: 20px;" value="2" id="btn_board_type_2"><a class="btn_board_type_2" onclick="back_to_list()" href="{% url 'board:list' %}" style="text-align: center; font-weight: bold;">회원 게시판</a></div>
    <input type="hidden" id="board_type_2" value="2">
</div>
<div class="content board_content" style="margin-left: 20%;margin-top: 10%;margin-right: 20%;margin-bottom: 30%">
    <h4 class="mt-4 mb-5 border-bottom">detail page</h4>
    <h1>{{ object.title }}</h1>
    <p class="date">
        {{ object.modify_date|date:"j F Y" }}
    </p>
    </br>
    <div class="body" id="summernote">
        {{ object.content|safe }}

    </div>
    <div class="like">
        <a><img src="{% static 'img/people.png' %}"></a>
        <span>{{ object.count }}</span>
        <a href="#" onclick="add_like({{ object.id }})"><img src="{% static 'img/heart.png' %}"></a>
        <span class="recommed_cnt">{{ object.recommend }}</span>
    </div>
    <div>
        {% if user.pk == object.writer.profile.pk %}
        <a class="btn  btn_modify" href="{% url 'board:edit' object.id %}">수정</a>
        <a class="btn btn_delete" href="{% url 'board:delete' object.id %}">삭제</a>
        {% endif %}
        <a class="btn" href="{% url 'board:list' %}">돌아가기</a>
        <a class="btn btn_comment" onclick="comment.spread_comment({{ object.id }})">댓글 보기</a>
    </div>
    <div>
        <a><img src="{% static 'img/comment.png' %}"></a>
        <span>{{ comment_cnt }}</span>
    </div>
    <input class="input_comment" type='text' value='' style='width: 80%'>
    <button class='btn btn-primary btn_comment_write' onclick="comment.write_comment({{ object.id }})">제출</button>
    <div class="comment_area" id="comment_area" style="display: table; width: 100%;">
        <ul class="comment_list" style="list-style:none; overflow: auto; max-height: 300px;"></ul>
    </div>
</div>
<input id="hdn_board_val" type="hidden" value="{{ object.id }}" >
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(){


    var getCookie = function(name) {
      var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
      return value? value[2] : null;
    };

    var board_type = getCookie('current_board')

    ctl_btn_by_board_type(board_type)
    btn_click_ctl()

});

var comment = {};
comment.add_to_database = function(board_id){
    var input_comment = $('.input_comment').val();
    $('.input_comment').val("");
    if( input_comment != '' ){
        $.ajax({
            type: 'GET',
            url: '{% url 'board:write_comment' %}',
            data: {
                board_id : board_id,
                comment : input_comment
            },
            dataType : 'json',
            success: function(data) {
            },
            error: function( jqXHR, textStatus, errorThrown ){
                    alert('status: ' + textStatus + '\nerror: ' + jqXHR.error )
            }
        });
    }else{
        alert("댓글을 작성세요")
    }
};
comment.get_comment = function(board_id, do_spread){
    $.ajax({
        type: 'GET',
        url: '{% url 'board:comment' %}',
        data: {
            board_id : board_id
        },
        dataType : 'json',
        success: function(data) {
            comment.spread_data(data);
        },
        error: function( jqXHR, textStatus, errorThrown ){
                alert('status: ' + textStatus + '\nerror: ' + jqXHR.error )
        }
    });
};
comment.spread_comment = function(num){
    var board_id = num;
    $( ".comment_list" ).empty();
    if( $('.comment_area').hasClass('on') ){
        $('.comment_area').removeClass('on')
        $('.comment_area').css('display', 'none');
    }else{
        comment.get_comment(board_id);
        $('.comment_area').css('display', 'table');
        $('.comment_area').addClass('on');
    }
};
comment.spread_data = function(data){
    html_str = ""
    var result_data = []
    result_data = data
    $( ".comment_list" ).empty();
    if ( data != '' ){
        result_data.forEach(function(data){
            html_str += "<li>" + data.writer + "&nbsp; | &nbsp;" + data.time_diff + "</li>"
            html_str += "<li>" + data.content + "</li>"
        });
        $(".comment_area ul").append(html_str)
    }
};
comment.write_comment = function(board_id){
    
    comment.add_to_database(board_id);
    if($('.comment_area').hasClass('on')){
        comment.get_comment(board_id);
    }else{
        $('.comment_area').css('display', 'table');
        comment.get_comment(board_id);
        $('.comment_area').addClass('on');
    }
};

function add_like(board_id){
    $.ajax({
        type: 'GET',
        url: '{% url 'board:add_like' %}',
        data: {
            board_id : board_id
        },
        dataType : 'json',
        success: function(data) {
            if(data[0].likes == 'notLogin'){
                alert("로그인을 하셔야합니다.")
            }else if(data[0].likes == 'already'){
                alert("이미 좋아요를 누르셨습니다.")
            }else{
                $('.recommed_cnt').text(data[0].likes)
            }
        },
        error: function( jqXHR, textStatus, errorThrown ){
            alert("로그인을 하셔야합니다.")
        }
    });
}
$('#summernote').summernote();
$('.note-editable').attr('contenteditable', 'false');
</script>

{% endblock content %}