{% extends 'index_base.html' %}
{% load staticfiles %}

<link href='{% static "lib/bootstrap/css/bootstrap.css" %}' rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
{% block extra_js %}
<script type="text/javascript" src="{% static '/js/board.js' %}"></script>
{% endblock %}
{% block content %}
<style>
    .board_content{
        witdh: 80%
    }
    .content{
        height: 1000px;
    }
    #id_title{
        overflow: visible;
        margin-left: 120px;
        border: aqua;
    }
    #id_content{
        overflow: hidden;
        margin-left: 86px;
        border: aqua;
        height: 500px;
        width: 700px;
    }
    .btn_group{
        margin-top: 50px;
        margin-left: -342px;
    }
    .btn{
        border: 1px solid rgb(113, 197, 93);
        border-radius: 7px;
        color: #fff;
        background-color: rgb(113, 197, 93);
        font-size: 11px;
        font-weight: 800;
        padding: 6px 21px;
        margin: 5px;
    }
    .row {
        margin-left: -325px !important;
        margin-top: auto
    }
    .note-editor.note-frame .note-editing-area .note-editable{
        height: 500px;
    }
    .note-toolbar panel-heading{
        position: absolute !important;
    }

</style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
<div class="side_bar" style="float: left; border-top: 1px solid #71c55d; border-bottom: 1px solid #71c55d; margin-left: 40px; background-color: white">
    <div style="padding: 20px; background-color: #71c55d;"><div class="" href="{% url 'board:list' %}" style="text-align: center; color: white; font-weight: bold;"> 게 시 판</div></div>
    <div style="border: 1px solid white;"></div>
    <div style="padding: 20px;" value="1" id="btn_board_type_1"><a class="btn_board_type_1" href="{% url 'board:list' %}" style="text-align: center; font-weight: bold;">가맹 게시판</a></div>
    <input type="hidden" id="board_type_1" value="1">
    <div style="border: 1px solid white;"></div>
    <div style="padding: 20px;" value="2" id="btn_board_type_2"><a class="btn_board_type_2" href="{% url 'board:list' %}" style="text-align: center; font-weight: bold;">회원 게시판</a></div>
    <input type="hidden" id="board_type_2" value="2">
</div>
<div class="board_content" style="margin-left: 20%;margin-top: 9%;margin-right: 20%;margin-bottom: 30%">
    <h4 class="mt-4 mb-5 border-bottom">EDIT PAGE</h4>
    {% if board.id %}
        <form action="{% url 'board:edit' board_id=board.id %}" method="POST">
    {% else %}
        <form action="{% url 'board:add' %}" method="POST">
    {% endif %}
    {% csrf_token %}
        <fieldset class="aligned">
            {{form.title.label_tag}} {{form.title}}
            <hr>
            {{ form.content|safe }}
        </fieldset>
            <div class="form-group row btn_group">
                <div class="offset-md-3 col-md-9">
                    <input type="submit" class="btn" value="제출">
                    {% if board.id %}
                    <a class="btn" href="{{ board.get_absolute_url }}">돌아가기</a>
                    {% else %}
                    <a class="btn" href="{% url 'board:list' %}">돌아가기</a>
                    {% endif %}
                </div>
            </div>
        </form>

</div>
<script type="text/javascript">
$('textarea').attr('id', 'summernote');
$('#summernote').summernote();
document.addEventListener("DOMContentLoaded", function(){
    var getCookie = function(name) {
      var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
      return value? value[2] : null;
    };

    var current_board = getCookie('current_board')

    ctl_btn_by_board_type(current_board)
    btn_click_ctl()

    $('#board_id').val(current_board)

});
</script>
{% endblock content %}