{% extends 'index_base.html' %}
{% load staticfiles %}
<script src='{% static "lib/jquery/jquery.min.js" %}'></script>
{% block content %}
<style>
    .btn{
        border: 1px solid rgb(113, 197, 93);
        border-radius: 7px;
        color: #fff;
        background-color: rgb(113, 197, 93);
        font-size: 11px;
        font-weight: 800;
        padding: 6px 21px;
        margin: 22px;
    }
    .page-item.active .page-link{
        background-color: rgb(113, 197, 93) !important;
        border-color: rgb(113, 197, 93) !important;
    }
</style>
<div class="side_bar" style="float: left; border-top: 1px solid #71c55d; border-bottom: 1px solid #71c55d; margin-left: 40px; background-color: white">
    <div style="padding: 20px; background-color: #71c55d;"><div class="" href="{% url 'board:list' %}" style="text-align: center; color: white; font-weight: bold;"> 게 시 판</div></div>
    <div style="border: 1px solid white;"></div>
    <div id="btn_board_type_1" style="padding: 20px; background-color: #71c55d;"><a class="btn_board_type_1" value="1" href="#" onclick="chg_board( 1, 1 )" style="text-align: center; font-weight: bold;">가맹 게시판</a></div>
    <div style="border: 1px solid white;"></div>
    <div id="btn_board_type_2" style="padding: 20px;"><a class="btn_board_type_2" href="#" value="2" onclick="chg_board( 2, 1 )" style="text-align: center; font-weight: bold;">회원 게시판</a></div>
</div>
<input type="hidden" id="user_type" name="user_type" value="{{ user.profile.type }}">
<input type="hidden" id="board_type" name="board_type" value="">
<div class="content board_content" style="margin-left: 20%;margin-top: 10%;margin-right: 20%;margin-bottom: 30%">
    <div class="btn_write_area" style="background-color: white; background-color:67px;">
        <select id="search_categoty" class="category" name="search_categoty" style="height: 30px; border: 1px solid #CCC;color:#CCC">
            <option value="">전체</option>
            <option value="writer">작성자</option>
            <option value="title">제목</option>
            <option value="content">게시글</option>
        </select>
        <input class="keyword" type="text" placeholder="" style="width: 340px;background-image:url(../../static/img/search_20.png);background-repeat: no-repeat;border:#CCC solid 1px;padding-left: 20px;">
        <a class="btn btn_search" onclick="search_board_by_word()">찾기</a>
        <a class="btn btn_write" href="{% url 'board:add' %}" style="display: none; position: absolute; margin-top: -50px; right: 312px; background-color: #71c55d;">글쓰기</a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">날짜</th>
                <th scope="col">조회수</th>
                <th scope="col">추천</th>
            </tr>
        </thead>
        <tbody>
            {% if boards %}
                {% for text in boards %}
                <tr class="tag_text">
                    <td>{{ text.id }}</td>
                    <td><a href="{{ text.get_absolute_url }}">{{ text.title }}</a></td>
                    <td>{{ text.writer }}</td>
                    <td>{{ text.modify_date|date:"Y-n-d" }}</td>
                    <td style="text-align: center">{{ text.count }}</td>
                    <td style="text-align: center">{{ text.recommend }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="6"> ... </td></tr>
            {% endif %}
        </tbody>
    </table>
    <nav aria-label="Page navigation" style="margin-left: 50%">
      <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">«</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
        {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="active page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">»</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
        {% endif %}
      </ul>
    </nav>
</div>
<script type="text/javascript">
    var getCookie = function(name) {
      var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
      return value? value[2] : null;
    };

    function search_board_by_word(){

        var board_type = getCookie('current_board')
        var page = $('.active > a').text()
        chg_board(board_type,page)
    }

    document.addEventListener("DOMContentLoaded", function(){

        var board_type = getCookie('current_board')

        if( board_type == null || getCookie('is_intro') == 'intro' ){
            ctl_cookie(1)
            chg_board(1)
            board_type = 1
        }else{
            chg_board(board_type,1)
        }

        ctl_btn_by_board_type(board_type)
    });
</script>
{% block extra_js %}<script type="text/javascript" src="{% static '/js/board.js' %}?ver=1"></script>{% endblock %}
{% endblock content %}
