{% extends 'index_base.html' %}
{% load staticfiles %}
<script src='{% static "lib/jquery/jquery.min.js" %}'></script>
{% block extra_js %}<script type="text/javascript" src="{% static '/js/board.js' %}"></script>{% endblock %}
{% block content %}
<style>
    .btn{
        border: 1px solid rgb(113, 197, 93);
        border-radius: 7px;
        color: #fff;
        background-color: rgb(113, 197, 93);
        font-size: 11px;
        font-weight: 800;
        padding: 6px 21px;
        margin: 22px;
    }
</style>
<div class="side_bar" style="float: left; border-top: 1px solid #71c55d; border-bottom: 1px solid #71c55d; margin-left: 40px; background-color: white">
    <div style="padding: 20px; background-color: #71c55d;"><div class="" href="{% url 'board:list' %}" style="text-align: center; color: white; font-weight: bold;"> 게 시 판</div></div>
    <div style="border: 1px solid white;"></div>
    <div id="btn_board_type_1" style="padding: 20px; background-color: #71c55d;"><a class="btn_board_type_1" value="1" href="#" onclick="chg_board( 1 )" style="text-align: center; font-weight: bold;">가맹 게시판</a></div>
    <div style="border: 1px solid white;"></div>
    <div id="btn_board_type_2" style="padding: 20px;"><a class="btn_board_type_2" href="#" value="2" onclick="chg_board( 2 )" style="text-align: center; font-weight: bold;">회원 게시판</a></div>
</div>
<div class="content board_content" style="margin-left: 20%;margin-top: 10%;margin-right: 20%;margin-bottom: 30%">
    <input type="hidden" id="user_type" name="user_type" value="{{ user.profile.type }}">
    <input type="hidden" id="board_type" name="board_type" value="">
    <div class="btn_write_area" style="background-color: white; background-color:67px;">
        <select name="search_categoty" style="height: 30px; border: 1px solid #CCC;color:#CCC">
            <option value="all">전체</option>
            <option value="writer">작성자</option>
            <option value="title">제목</option>
            <option value="content">게시글</option>
        </select>
        <input type="text" placeholder="검색어를 입력하세요. "
               style="width: 340px;background-image:url({% static 'img/search.png' %});background-repeat: no-repeat;border:#CCC solid 1px;padding-left: 20px;">
        <a class="" href="{% url 'board:list' %}" style="margin-right: -18px;margin-left: 6px;"><img src="{% static 'img/refresh.png' %}"></a>
        <a class="btn btn_search">찾기</a>
        <a class="btn btn_write" href="{% url 'board:add' %}" style="display: none; position: absolute; margin-top: -50px; right: 312px; background-color: #71c55d;">글쓰기</a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">날짜</th>
                <th scope="col">조회수</th>
                <th scope="col">추천</th>
            </tr>
        </thead>
        <tbody>
            {% for text in boards %}
            <tr class="tag_text">
                <td>{{ text.id }}</td>
                <td><a href="{{ text.get_absolute_url }}">{{ text.title }}</a></td>
                <td>{{ text.writer }}</td>
                <td>{{ text.modify_date|date:"Y-n-d" }}</td>
                <td style="text-align: center">{{ text.count }}</td>
                <td style="text-align: center">{{ text.recommend }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="paging_area" style="text-align: center;">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"> << </a>
        {% endif %}
            {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"> >> </a>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    function chg_board(board_type){
        ctl_cookie(board_type)

        $.ajax({
            type: 'GET',
            url: '{% url 'board:chg' %}',
            data: {
                board_type : board_type
            },
            dataType : 'json',
            success: function(data) {
                html = ''

                data.forEach(function(text){
                    html += "<tr class='tag_text'>"
                    html += "<td>" + text.id + "</td>"
                    html += "<td><a href='" + text.get_absolute_url + "'>" + text.title + "</a></td>"
                    html += "<td>" +  text.writer + "</td>"
                    html += "<td>" + text.modify_date + "</td>"
                    html += "<td style='text-align: center'>" + text.count + "</td>"
                    html += "<td style='text-align: center'>" + text.recommend + "</td>"
                    html += "</tr>"
                })

                $('div.board_content > table > tbody ').html(html)

                if( $('#user_type').val() != board_type ){
                    $('.btn_write').css('display', 'none')
                }else if( $('#user_type').val() == board_type ){
                    $('.btn_write').css('display', 'table')
                }

                ctl_btn_by_board_type(board_type)
            },
            error: function( jqXHR, textStatus, errorThrown ){
                    alert('status: ' + textStatus + '\nerror: ' + jqXHR.error )
            }
        })
    }

    document.addEventListener("DOMContentLoaded", function(){

        var getCookie = function(name) {
          var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
          return value? value[2] : null;
        };

        var board_type = getCookie('current_board')

        if( board_type == null ){
            ctl_cookie(1)
            chg_board(1)
        }else{
            chg_board(board_type)
        }

        ctl_btn_by_board_type(board_type)
    });
</script>

{% endblock content %}
