{% extends 'index_base.html' %}
{% load staticfiles %}

<link href='{% static "lib/bootstrap/css/bootstrap.css" %}' rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

{% block content %}
<style>
    .board_content{
        witdh: 80%
    }
    #id_title{
        overflow: visible;
        margin-left: 120px;
        border: aqua;
    }
    #id_content{
        overflow: hidden;
        margin-left: 86px;
        border: aqua;
        height: 500px;
        width: 700px;
    }
    .btn_group{
        margin-top: 50px;
        margin-left: -342px;
    }


</style>
<div class="side_bar" style="float: left; border: 1px solid black; margin-left: 40px; background-color: #10707f">
    <div style="padding: 20px;"><a class="btn btn-info" href="{% url 'board:list' %}">  &nbsp;&nbsp;&nbsp;게 시 판&nbsp;&nbsp;&nbsp;  </a></div>
    <div style="padding: 20px;"><a class="btn btn-info btn_board_type_1 active" value="1" href="{% url 'board:list' %}">가맹 게시판</a></div>
    <div style="padding: 20px;"><a class="btn btn-info btn_board_type_2" value="2" href="{% url 'board:list' %}">회원 게시판</a></div>
</div>
<div class="content board_content" style="margin-left: 20%;margin-top: 10%;margin-right: 20%;margin-bottom: 30%">
    <h4 class="mt-4 mb-5 border-bottom">추가/수정</h4>
    {% if impression_id %}
        <form action="{% url 'board:edit' book_id=book_id %}" method="POST">
    {% else %}
        <form action="{% url 'board:add' %}" method="POST">
    {% endif %}
    {% csrf_token %}
        <!--<input type="hidden" name="writer" value=""-->
        <fieldset class="aligned">
            <div class="form-row">
                {{form.title.label_tag}} {{form.title}}
            </div>
            <hr>
            <div class="form-row">
                {{form.content.label_tag}} {{form.content}}
            </div>
        </fieldset>
        <div class="form-group row btn_group">
            <div class="offset-md-3 col-md-9">
                <input type="submit" class="btn btn-primary" value="제출"></button>
                <a class="btn btn-secondary btn-sm" href="{% url 'board:list' %}">돌아가기</a>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(){
    var getCookie = function(name) {
      var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
      return value? value[2] : null;
    };
    var setCookie = function(name, value, exp) {
      var date = new Date();
      date.setTime(date.getTime() + exp*24*60*60*1000);
      document.cookie = name + '=' + value + ';expires=' + date.toUTCString() + ';path=/';
    };
    var deleteCookie = function(name) {
      document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }

    var current_board = getCookie('current_board')
    deleteCookie('current_board')

    setCookie('current_board', current_board, 7)

    var current_user = {{ user.pk }}

    if( current_board == 1 ){
        $(".btn_board_type_1").removeClass("btn-info")
        $(".btn_board_type_1").removeClass("btn-danger")
        $(".btn_board_type_2").removeClass("btn-info")
        $(".btn_board_type_2").removeClass("btn-danger")
        $(".btn_board_type_1").addClass("btn-danger")
        $(".btn_board_type_2").addClass("btn-info")
    }
    if( current_board == 2 ){
        $(".btn_board_type_1").removeClass("btn-info")
        $(".btn_board_type_1").removeClass("btn-danger")
        $(".btn_board_type_2").removeClass("btn-info")
        $(".btn_board_type_2").removeClass("btn-danger")
        $(".btn_board_type_1").addClass("btn-info")
        $(".btn_board_type_2").addClass("btn-danger")
    }

});
</script>
{% endblock content %}