{% extends './base.html' %}
{% block content %}
<div class="content" style="margin-top: 35px;">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-12">
            <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title "><i class="material-icons">content_paste</i>&nbsp;<strong>거래 취소 이력</strong></h4>
                <p class="card-category">this is the page of managing cancel</p>
                <p class="card-category"> </p>
            </div>
            <div class="card-body scrollbar scrollbar-primary">
                <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                        <th>가맹점이름</th>
                        <th>트랜잭션 아이디</th>
                        <th>금액</th>
                        <th>사유</th>
                        <th>날짜</th>
                    </thead>
                    <tbody>
                        {% for data in cancel_data %}
                        <tr class="tag">
                            <td>{{ data.s_id }}</td>
                            <td>{{ data.txHash }}</td>
                            <td>{{ data.amount }}</td>
                            <td>{{ data.comment }}</td>
                            <td>{{ data.removed_date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
    
{% endblock content %}  