{% extends './base.html' %}
{% block content %}
<script>
    $(document).ready(function () {
        $("#server").on('change', function () {
            var selected_server = $("#server option:selected").val();
            $("iframe").attr("src", selected_server);
        });
        $(".row1_btn").on("click", function () {
            var peer = "peer0.org1.rgbproject.com";
            var chaincode = "dev-peer0.org1.rgbproject.com-rc_cc-1.0";
            exec_remote(peer, chaincode);
        });
        $(".row2_btn").on("click", function () {
            var peer = "peer0.org2.rgbproject.com";
            var chaincode = "dev-peer0.org2.rgbproject.com-rc_cc-1.0";
            exec_remote(peer, chaincode);
        });
        function exec_remote(peer, chaincode) {
            $.ajax({
                type: 'GET',
                url: 'http://210.107.78.166:3000/node_restart/',
                data: {
                    peer: peer,
                    chaincode: chaincode
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                },
                error: function () {

                }
            })
        }
        $(".search_block").on('click', function () {
          var block_num = $(this).attr('blocknum');
          var ip = $(this).attr('ip');
          var port = $(this).attr('port');
          var node_name = ip + ":" + port;
          
	  if( port == "7051" ){
	  $.ajax({
            type: 'GET',
            url: protocol + ip + seperator + api_port + slash + "get_block_info",
            data: {
              block_num: block_num,
              target: node_name
            },
            dataType: 'json',
            success: function (data) {
              var number = data['block_info']['number'];
              var previous_hash = data['block_info']['previous_hash']
              previous_hash = previous_hash.substring(0, 20) + '...';
              var data_hash = data['block_info']['data_hash'];
              data_hash = data_hash.substring(0, 20) + '...';
              var mspid = data['block_info']['mspid'];

              $('.name').text(node_name);
              $('.number').text(number);
              $('.prev').text(previous_hash);
              $('.hash').text(data_hash);
              $('.msp').text(mspid);
            },
            error: function (jqXHR, textStatus, errorThrown) {
              alert('status: ' + textStatus + '\nerror: ' + jqXHR.error);
            }
          });
	  }else{
		$('.name').text(node_name);
	  }

        });
    });
</script>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card" style="margin-top: -30px;">
                    <div class="card-header card-header-info">
                        <h4 class="card-title "><i class="material-icons">cloud_queue</i>&nbsp;<strong>네트워크 관리</strong>
                        </h4>
                        <p class="card-category">this is the page of managing network</p>
                        <p class="card-category"> </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive block_list" style="min-height: 100%;">
                            <div class="node_row node_row_1">
                                <a class="row1_btn btn btn-sm btn-default"><i class="material-icons">wifi</i></a>
                                <strong>node 1 | 7051 &nbsp;&nbsp;</strong>
                                <ul id="node_ul_1" style="list-style:none;">
                                    <li>
                                        <a blocknum="{{ default_block.num }}" ip="210.107.78.166" port="7051" style="background-color: white; border:0px;" class="search_block">
                                            <i class="fas fa-cube fa-5x" style="margin-bottom: 5px;"></i>
                                            <span class="badge badge-pill badge-danger">{{ default_block.num }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="node_row node_row_2">
                                <a class="row2_btn btn btn-sm btn-default"><i class="material-icons">wifi</i></a>
                                <strong>node 2 | 8051 &nbsp;&nbsp;</strong>
                                <ul id="node_ul_2" style="list-style:none;">
                                    <li>
                                        <a blocknum="{{ default_block.num }}" ip="210.107.78.166" port="8051" style="background-color: white; border:0px;" class="search_block">
                                            <i class="fas fa-cube fa-5x" style="margin-bottom: 5px;"></i>
                                            <span class="badge badge-pill badge-danger">{{ default_block.num }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="node_row node_row_3">
                                <a class="row3_btn btn btn-sm btn-default"><i class="material-icons">wifi</i></a>
                                <strong>node 3 | 9051 &nbsp;&nbsp;</strong>
                                <ul id="node_ul_3" style="list-style:none;">
                                    <li>
                                        <a blocknum="{{ default_block.num }}" ip="210.107.78.166" port="9051" style="background-color: white; border:0px;" class="search_block">
                                            <i class="fas fa-cube fa-5x" style="margin-bottom: 5px;"></i>
                                            <span class="badge badge-pill badge-danger">{{ default_block.num }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="node_row node_row_4">
                                <a class="row4_btn btn btn-sm btn-default"><i class="material-icons">wifi</i></a>
                                <strong>node 4 | 10051 &nbsp;&nbsp;</strong>
                                <ul id="node_ul_4" style="list-style:none;">
                                    <li>
                                        <a blocknum="{{ default_block.num }}" ip="210.107.78.166" port="10051" style="background-color: white; border:0px;" class="search_block">
                                            <i class="fas fa-cube fa-5x" style="margin-bottom: 5px;"></i>
                                            <span class="badge badge-pill badge-danger">{{ default_block.num }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style>
                <div class="card card-profile" style="margin-top: 19%;">
                    <div class="card-avatar block_title">
                        <i class="fas fa-cubes fa-5x" style="margin-bottom: 5px;"></i>
                    </div>
                    <div class="card-body">
                        <table style="">
                            <tr>
                                <td class="node">node name</td>
                                <td class="title-text name"></td>
                            </tr>
                            <tr>
                                <td class="node">block number</td>
                                <td class="title-text number"></td>
                            </tr>
                            <tr>
                                <td class="node">prev hash</td>
                                <td class="title-text prev"></td>
                            </tr>
                            <tr>
                                <td class="node">data hash</td>
                                <td class="title-text hash"></td>
                            </tr>
                            <tr>
                                <td class="node">Creator</td>
                                <td class="title-text msp"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="term_area fixed-bottom" style="width:100%; height: 0vh; min-height: 50px; padding-left: 260px;">
                <a class="togg" onclick="wider()"><i class="fas fa-chevron-circle-up"></i></a>
                <select id="server" style="width: 100%;">
                    <option value="http://127.0.0.1:5000">웹서버</option>
                    <option value="http://210.107.78.166:5000">블록체인 cloud 1</option>
                </select>
                <div class="frame" style="height: 100%; display: block;">
                    <iframe src="http://127.0.0.1:5000" style="width:100%; height: 100%"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    function wider() {
        var isOn = $(".togg").hasClass("on");
        if (!isOn) {
            $(".term_area").css("height", "80vh");
            $(".togg").addClass("on");
        } else {
            $(".term_area").css("height", "0vh");
            $(".togg").removeClass("on");
        }
    }
</script>
<style>
    .term_area {}

    .togg {
        position: relative;
        z-index: 4;
        margin-top: 0px;
        margin-left: 0px;
    }

    .node {
        margin: 20px 0;
    }

    .node-sidebar {
        padding: 20px 0 10px 0;
        background: #fff;
    }

    .node {
        color: #5a7391;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 7px;
        float: left;
    }

    .title-text {
        color: #5b9bd1;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 7px;
        padding-left: 34px;
    }

    .node-userbuttons .btn {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        padding: 9px 19px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        padding: 10px 19px;
        margin: -24% 20% -17% 58%;
    }

    .node-info ul li {
        border-bottom: 1px solid #f0f4f7;
    }

    .node-usermenu ul li:last-child {
        border-bottom: none;
    }

    .node-usermenu ul li a {
        color: #93a3b5;
        font-size: 14px;
        font-weight: 400;
    }

    .node-usermenu ul li a i {
        margin-right: 8px;
        font-size: 14px;
    }

    .node-usermenu ul li a:hover {
        background-color: #fafcfd;
        color: #5b9bd1;
    }

    .node-usermenu ul li.active {
        border-bottom: none;
    }

    .node-usermenu ul li.active a {
        color: #5b9bd1;
        background-color: #f6f9fb;
        border-left: 2px solid #5b9bd1;
        margin-left: 24px;
    }

    /* node Content */
    .node-content {
        padding: 20px;
        background: #fff;
        min-height: 460px;
    }

    * {
        margin: 0;
        padding: 0;
    }
</style>
{% endblock content %}
