{% extends 'base.html' %}

{% block head %}
{% load staticfiles %}
<meta name="csrf-token" content="{{ csrf_token }}" />
{% endblock head %}

{% block css %}
{% endblock css %}
{% block body %}


    <!-- Title -->
    <div id="contents" class="page-header">
        <div class="container">
            <div class="row page-title">
                <a>계좌관리</a>
            </div>
        </div>
    </div>
    
    <div id="contents">
        <div class="container">
            <div class="row justify-content-center page">
                <div class="col-md card">
                    <div class="card-body">
                        <h5 class="card-subtitle"><a style="color:#00c746;">|</a> 결제취소</h5>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center page">
                <div class="col-md card">
                    <div class="card-body">

                        <!-- Cancel_payment form -->
                        <form action="{% url 'wallet:cancel' %}" method="POST" onsubmit="return chk_validate()">
                            {% csrf_token %}

                            <input type="text" name="s_id" value="{{ store.id }}" hidden></input> 
                            
                            <div class="form-group alert-warning">
                                <div class="text-danger">
                                    <strong>{{ trader }}</strong>님이 결제한 <br class="d-md-none d-sm-block"> <strong>{{ amount }} RC</strong>를 취소합니다.
                                </div>
                            </div>

                            <input type="text" name="trader" value="{{ trader }}" hidden />
                            <input type="text" name="username" value="{{ username }}" hidden />
                            <input type="text" name="amount" value="{{ amount }}" hidden />
                            <input type="text" name="tx" value="{{ tx }}" hidden />

                            <div class="form-group">
                                <label for="comment">사유<sup class="text-danger">(필수)</sup></label>
                                <div style="position:relative">
                                    <input id="comment" type="text" class="form-control" name="comment" required autofocus style="padding-right: 60px;">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password">비밀번호<sup class="text-danger">(필수)</sup></label>
                                <div style="position:relative">
                                    <input id="password" type="password" class="form-control" name="password" required autocomplete="off" style="padding-right: 60px;">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                    <div style="color:rgb(194, 180, 160)"><input type="checkbox" id="agree" name="agree"> 결제 취소시 책임은 전적으로 본인에게 있음에 동의합니다.<sup class="text-danger">(필수)</sup></div>
                                    </label>
                                </div>
                            </div>

                            <div class="row2 justify-content-center">
                                <input type="submit" id="btn-submit" class="btn btn-success" value="확인" />&nbsp;
                                <a href="{% url 'store:info' %}" id="btn-cancel" class="btn btn-secondary">취소</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
        

{% endblock body %}

{% block js %}
<script src="{% static 'js/cancel_payment.js' %}"></script>
{% endblock js %}