{% extends 'index_base.html' %}
{% load staticfiles %}

{% block head %}

    <link href="{% static 'css/account.css' %}" rel="stylesheet">
    <link href="{% static 'css/modal.css' %}" rel="stylesheet">
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

{% endblock head %}

{% block content %}

<section id="content" style="margin-top: 50px; margin-bottom: 50px">
	<div class="container" align="center">
        <div class="submitbox" style="max-width:600px">
            <span class="boxtitle">
                {% if store.name %}
                    가맹점 정보 수정
                {% else %}
                    가맹점 등록
                {% endif %}
            </span>
            <input type="text" id="myCategory" value="{{ store.category.id }}" hidden/>
            <input type="text" id="categoryList" value="{{ categorys }}" hidden/>
            <input type="text" id="myLocation" value="{{ store.location.id }}" hidden/>
            <input type="text" id="locationList" value="{{ locations }}" hidden/>
            <input type="text" id="myOpening_hour" value="{{ store.opening_hour }}" hidden/>
            <input type="text" id="myOpening_minute" value="{{ store.opening_minute }}" hidden/>
            <input type="text" id="myClosing_hour" value="{{ store.closing_hour }}" hidden/>
            <input type="text" id="myClosing_minute" value="{{ store.closing_minute }}" hidden/>

            {% if store.name %}
                <form id="edit_form" action="{% url 'store:edit' %}" method="POST" enctype="multipart/form-data" novalidate>
            {% else %}
                <form id="edit_form" action="{% url 'store:add' %}" method="POST" enctype="multipart/form-data" novalidate>
            {% endif %}
                {% csrf_token %}
                <div class="row col-sm">
                    <input type="text" name="store_id" value="{{ store.id }}" hidden/>
                    <input type="text" id="name" name="name" class="form-control" value="{{ store.name }}" placeholder="상호명" required autocomplete="off" autofocus="true"/>
                    <input type="text" id="corporate_number" name="corporate_number" class="form-control" value="{{ store.corporate_number }}" placeholder="사업자등록번호 (ex, 111-11-11111)" required autocomplete="off" autofocus="true"/>
                    <div class="row col-sm">
                        등록지역&nbsp;&nbsp;
                        <select id="location" name="location" class="form-control" style="min-width:40px; max-width:180px;"></select>
                        등록업종&nbsp;&nbsp;
                        <select id="category" name="category" class="form-control" style="min-width:40px; max-width:180px;"></select>    
                    </div>
                    <input type="text" id="phone_number" name="phone_number" class="form-control" value="{{ store.phone_number }}" placeholder="연락처" autocomplete="off" autofocus="true"/>
                    <input type="text" id="url" name="url" class="form-control" value="{{ store.url }}" placeholder="홈페이지" autocomplete="off" autofocus="true"/>
                    <input type="text" id="address" name="address" class="form-control" value="{{ store.address }}" placeholder="주소지" autocomplete="off" autofocus="true"/>
                    
                        영업시간&nbsp;&nbsp;
                    <div class="row col-sm">
                        <select id="opening_hour" name="opening_hour" class="col-sm form-control" style="min-width:90px; max-width:20%;"></select>:
                        <select id="opening_minute" name="opening_minute" class="col-sm form-control" style="min-width:90px; max-width:20%;"></select>&nbsp;~&nbsp;
                        <select id="closing_hour" name="closing_hour" class="col-sm form-control" style="min-width:90px; max-width:20%;"></select>:
                        <select id="closing_minute" name="closing_minute" class="col-sm form-control" style="min-width:90px; max-width:20%;"></select>
                    </div>
                </div>
                <div class="row col-sm">
                    사진등록&nbsp;&nbsp;
                    <input type="file" id="image" name="image" accept="image/x-png,image/gif,image/jpeg" value="{{ photo.image }}" class="form-control" />
                    <textarea id="description" name="description" class="form-control" placeholder="가맹점 설명" autocomplete="off" autofocus="true">{{ store.description }}</textarea>
                </div>
                
                <div class="row col-lg-12 col-md-12 col-sm-12">
                    {% if store.name %}
                        <button id="btn_submit" type="sumbit" class="btn submitButton">수정</button>
                    {% else %}
                        <button id="btn_submit" type="sumbit" class="btn submitButton">등록</button>
                    {% endif %}
                    <a href="{% url 'profile:account_myInfo' user.id %}" class="btn cancelButton">취소</a>
                </div>
            </form>
        </div>
    </div>

    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="boxtitle">가맹점 등록 실패</h4>
                </div>
                <div id="msg" class="modal-body" align="center">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn submitButton" data-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/store.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>

{% endblock content %}