{% extends 'index_base.html' %}
{% load staticfiles %}

{% block head %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    .filter_box {
  		padding-right: 5px;
  		padding-left: 5px;
  		margin-bottom: 10px;
  	}

  	.single-district {
  		background: #daeddc;
  		color: #fff;
  		border:2px solid #009966;
  		display: block;
  		text-align: center;
  	}
  	.single-district h3 {
  		font-weight: 700;

  	}

  	.single-district p {
  		font-size: 15px;
  		margin: 8px;

  	}

  	.single-district a {
  		color: #000;
  		display: block;
  		padding: 15px;
  	}

  	.single-district a:hover {
  		color: red;
  		text-decoration: none;
  	}
</style>
<script>
    $(document).ready(function(){
		    $(".filter-button").click(function(){
		        var value = $(this).attr('data-filter');
		        
		        if(value == "all")
		        {
		            //$('.filter').removeClass('hidden');
		            $('.filter').show('1000');
		        }
		        else
		        {
		//            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
		//            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
		            $(".filter").not('.'+value).hide('3000');
		            $('.filter').filter('.'+value).show('3000');
		            
		        }
		    });
		    
		    if ($(".filter-button").removeClass("active")) {
				$(this).removeClass("active");
			}
			$(this).addClass("active");

		});
</script>
{% endblock head %}

{% block content %}
<br><br><br><br>
<div class="side_bar" style="float: left; border-top: 1px solid #71c55d; border-bottom: 1px solid #71c55d; margin-left: 40px; background-color: white">
    <div style="padding: 20px; background-color: #71c55d;">
        <div class="" href="{% url 'board:list' %}" style="text-align: center; color: white; font-weight: bold;">가맹점 찾기</div>
    </div>
    <div style="border: 1px solid white;"></div>
    <div id="btn_board_type_1" style="padding: 20px; background-color: #71c55d;"><a class="btn_board_type_1" value="1" href="{% url 'store:photoView' %}" onclick="chg_board( 1, 1 )" style="text-align: center; font-weight: bold;">동네별 찾기</a></div>
    <div style="border: 1px solid white;"></div>
</div>

<section class="content">
    <div class="container-fulid">
    	<div class="card">
		  	<div class="card-header text-center display-4">
		    	가맹점 찾기
		  	</div>

		  	<div class="card-body">
		    	<div class="row">
		    		<div class="col-md-12 text-center">
			            <button class="btn btn-outline-success filter-button" data-filter="all">전체보기</button>
			            <button class="btn btn-outline-success filter-button" data-filter="dhaka">울릉읍</button>
			            <button class="btn btn-outline-success filter-button" data-filter="mymensingh">북면</button>
			            <button class="btn btn-outline-success filter-button" data-filter="rajshahi">서면</button>
	        		</div>
		    	</div>
                {% for photo in photos %}
		    	<div class="row mt-4">
	    			<div class="col-md-3 filter_box filter dhaka">
		                <div class="single-district">
                            <a href="#">
                                <img src="/media/{{ photo.image.thumb_url }}"></img>
                                <p><strong></strong></p>                          
                            </a>
                        </div>
		            </div>
		    	</div>
                {% endfor %}

		  	</div>
		</div>
    </div>
</section>
{% endblock %}