{% extends 'index_base.html' %}
{% load staticfiles %}

{% block content %}
<section id="hero">
    <div>
        <table>
            <tr>
                <th>상호</th>
                <th>사업자등록번호</th>
                <th>등록상태</th>
                <th></th>
            </tr>
            {% for store in stores %}
                {% if store.status != 'd' %}
                <tr>
                    <td>{{ store.name }}</td>
                    <td>{{ store.corporate_number }}</td>
                    <td>
                        {% if store.status == 'a' or store.status == 'r' %}
                        승인
                        {% else %}
                        심사중
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'store:read' store.id %}">상세보기</a>
                        <a href="{% url 'store:delete' store.id %}">삭제</a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}

        </table>
    </div>
    <div>
        <a href="{% url 'store:add' %}">가맹점 신청</a>
        <a href="{% url 'profile:account_myInfo' user.id %}">돌아가기</a>
    </div>
</section>
{% endblock %}