{% extends 'index_base.html' %}
{% load staticfiles %}
<script src='{% static "lib/jquery/jquery.min.js" %}'></script>
{% block content %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>
    .btn{
        border: 1px solid rgb(113, 197, 93);
        border-radius: 7px;
        color: #fff;
        background-color: rgb(113, 197, 93);
        font-size: 11px;
        font-weight: 800;
        padding: 6px 21px;
        margin: 22px;
    }
    .page-item.active .page-link{
        background-color: rgb(113, 197, 93) !important;
        border-color: rgb(113, 197, 93) !important;
    }
    tr.tag_title:hover{
        background-color: lightgrey;
    }
    .note-editor.note-frame .note-editing-area .note-editable[contenteditable="false"]{
        background-color: white;
    }
    /*    --------------------------------------------------
	:: General
	-------------------------------------------------- */
    .submitbox{
    
    border-top: 6px solid #7ac55d;
    background-color:#fff;
    /* padding: 20px; */
    
    padding-bottom: 1px;
    
    box-shadow: 0 10px 10px -2px rgba(0,0,0,0.12),0 -2px 10px -2px rgba(0,0,0,0.12);    
    }
    .boxtitle {
        font-size: 28px;
        color: #7ac55d;
        font-weight: 500;
        letter-spacing: 1px;
    }
    .nav-tabs .nav-link {
        border: 1px soild #dee2e6;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        border-left: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
        border-top: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
    }

    @media (max-width: 700px) {
        thead {
            visibility: hidden;
        }
    } 
    .tag_text, thead {
        padding: 5px;
        text-align: center;
        white-space: nowrap;
    }
</style>
<br><br>
<section id="content" style="margin-top: 50px; margin-bottom: 50px">

    <input type="hidden" id="user_type" name="user_type" value="{{ user.profile.type }}">
    <input type="hidden" id="board_type" name="board_type" value="">

    <div class="container">
            <div class="submitbox">
            <br>
            <h2 style="color:#71c55d" align="center">공지사항</h2>
            <br>
                <div class="content board_content">
                    <table class="table">
                        <thead class="thead-dark">
                            <colgroup>
                                <th scope="col" width="40%">번호</th>
                                <th scope="col" width="40%">제목</th>
                                <th scope="col" width="20%">날짜</th>
                            </colgroup>
                        </thead>
                        <tbody>
                            {% for text in notice_list %}
                                <tr class="tag_title">
                                    <td>{{ text.id }}</td>
                                    <td>{{ text.title }}</td>
                                    <td>{{ text.modify_date}}</td>
                                </tr>
                                <tr class="tag_content" style="display:none">
                                    <td colspan="3">
                                        <div align="center" class="body" id="summernote" style="min-height: 5em">{{ text.content|safe }}</div>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% for li in remain_of_page %}
                                <tr><td colspan="6">&nbsp;</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation" style="margin-left: 50%">
                    <ul class="pagination">
                        {% if has_prev %}
                            <li class="page-item">
                            <a class="page-link" href="?page={{ prev_page }}" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                                <span class="sr-only">Previous</span>
                            </a>
                            </li>
                        {% endif %}
                        {% for i in num_pages %}
                            {% if page_obj.number == i %}
                                <li class="active page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if has_next %}
                            <li class="page-item">
                            <a class="page-link" href="?page={{ next_page }}" aria-label="Next">
                                <span aria-hidden="true">»</span>
                                <span class="sr-only">Next</span>
                            </a>
                            </li>
                        {% endif %}
                    </ul>
                    </nav>
                </div>
            </div>
        </div>   
</section>

<script type="text/javascript">
    // function toggle_content(id){
    //     var title_class = '.tag_title' + id;
    //     var content_class = '.tag_content' + id;
    //     // $(content_class).toggle('slide');
    //     runEffect(content_class);
    // }

    // function runEffect(content_class) {
    //   // Run the effect
    //   $(content_class).next().slideToggle(250);
    // };

    $(".tag_title").on( "click", function() {
        $(this).next().slideToggle(250);
        $fexpand = $(this).find(">:first-child");
        if ($(this).hasClass('opened')) {
            $(this).removeClass('opened');
        } else {
            $(this).addClass('opened');
        };
    });
</script>

{% endblock content %}
