{% extends 'base.html' %}
{% load staticfiles %}
<script src='{% static "jquery/jquery.min.js" %}'></script>
<link href="{% static 'bootstrap-4.2.1-dist/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/myinfo.css' %}" rel="stylesheet">
<link href="{% static 'css/modal.css' %}" rel="stylesheet">
{% block body %}
<style>
.active {
  background-color: #666;
  color: white;
}
    .btn{
        border: 1px solid rgb(113, 197, 93);
        border-radius: 7px;
        color: #fff;
        background-color: rgb(113, 197, 93);
        font-size: 11px;
        font-weight: 800;
        padding: 6px 21px;
        margin: 22px;
    }
    .page-item.active .page-link{
        background-color: rgb(113, 197, 93) !important;
        border-color: rgb(113, 197, 93) !important;
    }
    /*    --------------------------------------------------
	:: General
	-------------------------------------------------- */
    .submitbox{
    margin-top: 8%;
    border-top: 6px solid #7ac55d;
    background-color:#fff;
    /* padding: 20px; */
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 10px 10px -2px rgba(0,0,0,0.12),0 -2px 10px -2px rgba(0,0,0,0.12);    
    }
    .boxtitle {
        font-size: 28px;
        color: #7ac55d;
        font-weight: 500;
        letter-spacing: 1px;
    }
    .nav-tabs .nav-link {
        border: 1px soild #dee2e6;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        border-left: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
        border-top: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
    }

    @media (max-width: 700px) {
        thead {
            visibility: hidden;
        }
    } 
    .tag_text, thead {
        padding: 5px;
        text-align: center;
        white-space: nowrap;
    }
</style>

    <!-- Title -->
    <div id="contents" class="page-header">
        <div class="container">
            <div class="row page-title">
                <a>커뮤니티</a>
            </div>
        </div>
    </div>
    
    <div id="contents">
        <div class="container">
            <div class="row justify-content-center page">
                <div class="col-md card">
                    <div class="card-body">
                        <h5 class="card-subtitle"><a style="color:#00c746;">|</a> 게시판</h5>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center page">
                <div class="col-md card">
                    <div class="card-body">
                        <input type="text" id="from" value="{{ user.username }}" hidden />
                        <input type="text" id="u_id" value="{{ user.id }}" hidden />
                    
                        <div style="margin-left:1px">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="row nav-item" style="margin-left: 1px; margin-right: 1px; margin-bottom: 10px; width: 100%">
                                    <a id="btn_board_type_1" class="nav-link btn_board_type_1"  style="min-width: 75px" onclick="chg_board(1,1)"  href="{% url 'board:list' %}">가맹 게시판</a>
                                    <input type="hidden" id="board_type_1" value="1">&nbsp;
                                    <a id="btn_board_type_2" class="nav-link btn_board_type_2 "  style="min-width: 75px" onclick="chg_board(2,1)"  href="{% url 'board:list' %}">회원 게시판</a>
                                    <input type="hidden" id="board_type_2" value="2">
                                </li>
                            </ul>
                        </div>

                        <div class="tab-content profile-tab" id="myTabContent">
                                
                            <div class="content board_content">
                                
                                <div class="btn_write_area row" style="background-color: white; background-color:67px;">
                                    <select id="search_categoty" class="category" name="search_categoty" style="height: 30px; border: 1px solid #CCC;color:#777">
                                        <option value="">전체</option>
                                        <option value="writer">작성자</option>
                                        <option value="title">제목</option>
                                        <option value="content">게시글</option>
                                    </select>
                                    <input class="keyword" type="text" placeholder="검색어를 입력하세요." style="background-image:url(../../static/img/search.png);background-repeat: no-repeat;border:#CCC solid 1px;padding-left: 20px;">
                                    <a class="btn btn_search" style="color:#fff" onclick="search_board_by_word()">찾기</a>
                                    <a class="btn btn_write" href="{% url 'board:add' %}" style="display: none; position: absolute; margin-top: -53px; right: 20%; background-color: #71c55d;">글쓰기</a>
                                </div>

                                <table class="table table-hover">
                                    <thead>
                                        <tr class="row">
                                            <th scope="col-sm">번호</th>
                                            <th scope="col-sm">제목</th>
                                            <th scope="col-sm">작성자</th>
                                            <th scope="col-sm">날짜</th>
                                            <th scope="col-sm">조회수</th>
                                            <th scope="col-sm">추천</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if boards %}
                                            {% for text in boards %}
                                            <tr class="tag_text">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="text-align: center"></td>
                                                <td style="text-align: center"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="text-align: center"></td>
                                                <td style="text-align: center"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="text-align: center"></td>
                                                <td style="text-align: center"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="text-align: center"></td>
                                                <td style="text-align: center"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="text-align: center"></td>
                                                <td style="text-align: center"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="text-align: center"></td>
                                                <td style="text-align: center"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="text-align: center"></td>
                                                <td style="text-align: center"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="text-align: center"></td>
                                                <td style="text-align: center"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="text-align: center"></td>
                                                <td style="text-align: center"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="text-align: center"></td>
                                                <td style="text-align: center"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="text-align: center"></td>
                                                <td style="text-align: center"></td>
                                            </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr><td colspan="6"> ... </td></tr>
                                        {% endif %}
                                    </tbody>
                                </table>

                                {% comment %} 페이지 {% endcomment %}
                                <nav aria-label="Page navigation" style="margin-left: 50%">
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">«</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        </li>
                                    {% endif %}
                                    {% for i in paginator.page_range %}
                                        {% if page_obj.number == i %}
                                            <li class="active page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">»</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                        </li>
                                    {% endif %}
                                </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap-4.2.1-dist/js/bootstrap.min.js' %}"></script>











{% comment %} -------------------------------------------------------- {% endcomment %}


<input type="hidden" id="user_type" name="user_type" value="{{ user.profile.type }}">
<input type="hidden" id="board_type" name="board_type" value="">














<script type="text/javascript">

    var getCookie = function(name) {
      var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
      return value? value[2] : null;
    };

    function search_board_by_word(){

        var board_type = getCookie('current_board')
        var page = $('.active > a').text()
        chg_board(board_type,page)
    }

    document.addEventListener("DOMContentLoaded", function(){

        var board_type = getCookie('current_board')

        if( board_type == null || getCookie('is_intro') == 'intro' ){
            ctl_cookie(1)
            chg_board(1)
            board_type = 1
        }else{
            chg_board(board_type,1)
        }

        ctl_btn_by_board_type(board_type)
    });

    
</script>
{% block js %}<script type="text/javascript" src="{% static '/js/board.js' %}?ver=1"></script>{% endblock %}
{% endblock body %}
