{% extends 'base.html' %}
{% load staticfiles %}

{% comment %} <link href='{% static "bootstrap-4.2.1-dist/css/bootstrap.css" %}' rel="stylesheet"> {% endcomment %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
{% block js %}
<script type="text/javascript" src="{% static '/js/board.js' %}"></script>
{% endblock %}
{% block body %}
<style>
    .btn{
        border: 1px solid rgb(113, 197, 93);
        border-radius: 7px;
        color: #fff;
        background-color: rgb(113, 197, 93);
        font-size: 11px;
        font-weight: 800;
        padding: 6px 21px;
        margin: 22px;
    }
    .page-item.active .page-link{
        background-color: rgb(113, 197, 93) !important;
        border-color: rgb(113, 197, 93) !important;
    }
    /*    --------------------------------------------------
	:: General
	-------------------------------------------------- */
    .submitbox{
    margin-top: 10%;
    border-top: 6px solid #7ac55d;
    background-color:#fff;
    /* padding: 20px; */
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 10px 10px -2px rgba(0,0,0,0.12),0 -2px 10px -2px rgba(0,0,0,0.12);    
    }
    .boxtitle {
        font-size: 28px;
        color: #7ac55d;
        font-weight: 500;
        letter-spacing: 1px;
    }
    .nav-tabs .nav-link {
        border: 1px soild #dee2e6;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        border-left: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
        border-top: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
    }

    @media (max-width: 700px) {
        thead {
            visibility: hidden;
        }
    } 
    .tag_text, thead {
        padding: 5px;
        text-align: center;
        white-space: nowrap;
    }

    .board_content{
        witdh: 80%
    }
    .content{
        {% comment %} height: 1000px; {% endcomment %}
    }
    #id_title{
        overflow: visible;
        margin-left: 120px;
        border: aqua;
    }
    #id_content{
        overflow: hidden;
        margin-left: 86px;
        border: aqua;
        height: 500px;
        width: 700px;
    }
    .btn_group{
        margin-top: 50px;
        margin-left: -342px;
    }
    .btn{
        border: 1px solid rgb(113, 197, 93);
        border-radius: 7px;
        color: #fff;
        background-color: rgb(113, 197, 93);
        font-size: 11px;
        font-weight: 800;
        padding: 6px 21px;
        margin: 5px;
    }
    .row {
        margin-left: -325px !important;
        margin-top: auto
    }
    .note-editor.note-frame .note-editing-area .note-editable{
        height: 500px;
    }
    .note-toolbar panel-heading{
        position: absolute !important;
    }
</style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">


<section id="content">
	<input type="text" id="from" value="{{ user.username }}" hidden />
	<input type="text" id="u_id" value="{{ user.id }}" hidden />
 
	<div class="container">
        <div class="submitbox">
            <div class="content board_content" style="">
                {% if board.id %}
                    <form action="{% url 'board:edit' board_id=board.id %}" method="POST">
                {% else %}
                    <form action="{% url 'board:add' %}" method="POST">
                {% endif %}
                {% csrf_token %}
                    <fieldset class="aligned">
                        {{form.title.label_tag}} {{form.title}}
                        <hr>
                        {{ form.content|safe }}
                    </fieldset>
                        <div class="form-group row btn_group">
                            <div class="offset-md-3 col-md-9">
                                <input type="submit" class="btn" value="제출">
                                {% if board.id %}
                                <a class="btn" href="{{ board.get_absolute_url }}">돌아가기</a>
                                {% else %}
                                <a class="btn" href="{% url 'board:list' %}">돌아가기</a>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>    
        </div>
    </div>
    
</section>
<br>

<script type="text/javascript">
$('textarea').attr('id', 'summernote');
$('#summernote').summernote();
document.addEventListener("DOMContentLoaded", function(){
    var getCookie = function(name) {
      var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
      return value? value[2] : null;
    };

    var current_board = getCookie('current_board')

    ctl_btn_by_board_type(current_board)
    btn_click_ctl()

    $('#board_id').val(current_board)

});
</script>
{% endblock body %}